
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467861629'); /* IE9*/
  src: url('iconfont.eot?t=1467861629#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1467861629') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1467861629') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1467861629#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-rights:before { content: "\e608"; }
.icon-weixin:before { content: "\e62c"; }
.icon-right:before { content: "\e609"; }
.icon-mac:before { content: "\e62f"; }
.icon-windows:before { content: "\e60a"; }
.icon-fangdajing:before { content: "\e626"; }
.icon-fangdajing1:before { content: "\e622"; }
.icon-xingxing:before { content: "\e630"; }
.icon-xin:before { content: "\e631"; }
.icon-fontcurriculum:before { content: "\e600"; }
.icon-fontnews:before { content: "\e606"; }
.icon-fontorder:before { content: "\e607"; }
.icon-fontphone:before { content: "\e601"; }
.icon-fontwenxi:before { content: "\e602"; }
.icon-fontxinxi:before { content: "\e603"; }
.icon-fontright:before { content: "\e604"; }
.icon-fontphone1:before { content: "\e605"; }
.icon-fintinformation:before { content: "\e60b"; }
.icon-fontbottom:before { content: "\e60c"; }
.icon-fonthome:before { content: "\e60d"; }
.icon-fontyouhui:before { content: "\e60e"; }
.icon-fontcourse:before { content: "\e60f"; }
.icon-fontsmall:before { content: "\e610"; }
.icon-fontclose:before { content: "\e611"; }
.icon-fontkecheng:before { content: "\e612"; }
.icon-top:before { content: "\e613"; }
.icon-download:before { content: "\e614"; }
.icon-bottom:before { content: "\e615"; }
.icon-phone3:before { content: "\e616"; }
.icon-recovery:before { content: "\e617"; }
.icon-arrow:before { content: "\e618"; }
.icon-phone:before { content: "\e619"; }
.icon-verification:before { content: "\e61a"; }
.icon-repeat:before { content: "\e61b"; }
.icon-password:before { content: "\e61c"; }
.icon-xing:before { content: "\e61d"; }
.icon-shu:before { content: "\e61e"; }
.icon-xinxi:before { content: "\e61f"; }
.icon-modify:before { content: "\e620"; }
.icon-important:before { content: "\e621"; }
.icon-guanbi:before { content: "\e623"; }
.icon-xia:before { content: "\e624"; }
.icon-xxx:before { content: "\e625"; }
.icon-phone10:before { content: "\e627"; }
.icon-name:before { content: "\e628"; }
.icon-shouzhi:before { content: "\e629"; }
.icon-tixian:before { content: "\e62a"; }
.icon-money:before { content: "\e62b"; }
.icon-yuyue:before { content: "\e62d"; }
.icon-zixun:before { content: "\e62e"; }
.icon-teacher1:before { content: "\e632"; }
.icon-teacher2:before { content: "\e633"; }
.icon-teacher3:before { content: "\e634"; }
.icon-teacher4:before { content: "\e635"; }
.icon-dui:before { content: "\e636"; }
.icon-dianhuayuyue:before { content: "\e637"; }
