<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
	<title>advant
	-app</title>
	<link rel="stylesheet" href="../lib/compontent/css/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="../lib/css/index-app.scss">
	<script src="../lib/compontent/js/zepto.min.js"></script>
	<script src="../lib/compontent/js/idangerous.swiper-2.0.min.js"></script>
	<style>
		.pagination {
		  position: absolute;
		  z-index: 20;
		  bottom: 10px;
		  width: 100%;
		  text-align: center;
		}
		.swiper-pagination-switch {
		  display: inline-block;
		  width: 8px;
		  height: 8px;
		  border-radius: 8px;
		  background: #555;
		  margin: 0 5px;
		  opacity: 0.8;
		  border: 1px solid #e5e5e5;
		  cursor: pointer;
		}
		.swiper-active-switch {
		  background: #fb5c5a;
		}
	</style>
</head>
<body>
	<!-- 头部 start -->
	<div class="index-top main">
		<div class="fn-left logo">
			<img src="../lib/images/app-index-logo.png" alt="">
		</div>
		<a href="tel:4000939775" class="fn-right phone">
			<i class="iconfont icon-fontphone"></i>
			4000-939-775
		</a>
	</div>
	<!-- 头部 end -->

	<!-- banner start -->
	<div class="index-banner main">
		<div class="pagination"></div>	
		<div class="swiper-container banners">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide">
		    	<img src="../lib/images/app-index-banner1.jpg" alt="">
		    </div>
		    <div class="swiper-slide">
		    	<img src="../lib/images/app-index-banner2.jpg" alt="">
		    </div>
		  </div>
		</div>
	</div>
	<!-- banner end -->
	
	<!-- //立即免费试听 start -->
	<div class="main index-teachers marginTop">
		<a name="index-mao"></a>
		<div class="index-doog-teachers "> 
			<h4>预约<span>免费</span>试听</h4>
			<div class="index-appointment">				
				<input type="text" name="index-input-name" placeholder="学生姓名">
				<input type="text" name="index-input-phone" placeholder="电话号码">
				<select class="fn-left" name="index-select-grade" id="">
					<option value="0">年级</option>
					<option value="1">一年级</option>
					<option value="2">二年级</option>
					<option value="3">三年级</option>
					<option value="4">四年级</option>
					<option value="5">五年级</option>
					<option value="6">六年级</option>
					<option value="7">初一</option>
					<option value="8">初二</option>
					<option value="9">初三</option>
					<option value="10">高一</option>
					<option value="11">高二</option>
					<option value="12">高三</option>
				</select>
				<select class="fn-right" name="index-select-subject" id="">
					<option value="0">科目</option>
					<option value="1">语文</option>
					<option value="2">数学</option>
					<option value="3">英语</option>
					<option value="4">物理</option>
					<option value="5">化学</option>
					<option value="6">生物</option>
					<option value="7">地理</option>
					<option value="8">政治</option>
					<option value="9">历史</option>
					<option value="10">科学</option>
				</select>
				<input type="button" name="index-input-button" value="领取试听课">
			</div>
		</div>
	</div>	
	<!-- //立即免费试听 end -->
	
	<!-- // 选择优思的4大优势 start -->
	<div class="advant-box main">
		<h4>选择优思的<span>4大优势</span></h4>
	</div>
	<!-- // 选择优思的4大优势 end -->

	<!-- // 优势 1  start -->
	<div class="advant1-box main">
		<div class="advant1-inner">
			<img class="img-left" src="../lib/images/app-advant2.png" alt="">
			<img class="img0" src="../lib/images/app-advant1.jpg" alt="">
			<h4>100%名校名师</h4>
			<p>所有的优思老师均来自全国名校</p>
			<p>并经过<span>3轮</span>严格筛选和<span>2轮</span>专业培训</p>
		</div> 
	</div>
	<!-- // 优势 1  end -->

	<!-- // 优势 2  start -->
	<div class="advant1-box main">
		<div class="advant1-inner advant2-inner">
			<img class="img-right" src="../lib/images/app-advant3.png" alt="">
			<img class="img0" src="../lib/images/app-advant6.jpg" alt="">
			<h4>绝对因材施教</h4>
			<p>课程顾问匹配最合适的老师</p>
			<p>老师定制<span>个性化课程</span>，全程有专业的<span>班主任服务</span></p>
		</div>
	</div>
	<!-- // 优势 2  end -->

	<!-- // 优势 3  start -->
	<div class="advant1-box main">
		<div class="advant1-inner advant2-inner">
			<img class="img-left" src="../lib/images/app-advant4.png" alt="">
			<img class="img0" src="../lib/images/app-advant7.jpg" alt="">
			<h4>100%透明教室</h4>
			<p>班主任可以实时监课</p>
			<p>了解孩子<span>学习状态</span>和老师的<span>教学质量</span></p>
		</div>
	</div>
	<!-- // 优势 3  end -->

	<!-- // 优势 4  start -->
	<div class="advant1-box advant4-box main">
		<div class="advant1-inner advant2-inner">
			<img class="img-right" src="../lib/images/app-advant5.png" alt="">
			<img class="img0" src="../lib/images/app-advant8.jpg" alt="">
			<h4>效果看得见</h4>
			<p><span>98%以上</span>的学生成绩得到突飞猛进的提升</p>
			<p>大大提高了孩子的<span>学习能力</span></p>
		</div>
	</div>
	<!-- // 优势 4  end -->		

	<!-- 底部固定框 start -->
	<div class="main index-fixed">
		<div class="fn-left left">
			<a href="tel:4000939775">
				<i class="iconfont icon-fontphone"></i>
				<span>电话咨询</span>
			</a>
		</div>
		<div class="fn-right right">
		<a href="#index-mao">
			<i class="iconfont icon-dianhuayuyue"></i>
			<span>在线预约</span>
		</a>			
		</div>
	</div>
	<!-- 底部固定框 end -->

	<!-- 浮动 弹框 start -->
	<div class="teachers-mask fn-hide"></div>
	<div class="erweima fn-hide">
		
	</div>
	<!-- 浮动 弹框 end -->

	<div class="main index-contact-us">
		<h4>联系我们</h4>
		<div class="index-photo">
			<a href="tel:4000939775"><img src="../lib/images/app-index-20.png" alt=""></a>
			<img class="teachers-img-btn" src="../lib/images/app-index-21.png" alt="">
			<img src="../lib/images/app-index-22.png" alt="">
		</div>
		<div class="index-a">
			<a href="javascript:void(0)">优思教辅</a>
			<span>|</span>
			<a href="javascript:void(0)">优思师资</a>
			<span>|</span>
			<a href="javascript:void(0)">优思优势</a>
		</div>
		<p> Copyright©2015-2016 优思教育版权所有(沪ICP备14041652号-1)
上海剑川教育科技有限公司</p>
	</div>
	

	<script>
		window.onload = function(){
			var mySwiper = new Swiper('.banners',{
				autoplay : 3000,//可选选项，自动滑动
				loop : true,//可选选项，开启循环
				pagination : '.pagination'
			})

			$(".qq-btn").click(function(){
				$(".erweima").html('<img src="/Public/images/QQ.png" alt="">');
	  			$(".teachers-mask").removeClass("fn-hide");
	  			$(".erweima").removeClass("fn-hide");
			});

	  		$(".teachers-img-btn").click(function(){
	  			$(".erweima").html('<img src="/Public/images/app-erweima.png" alt="">');
	  			$(".teachers-mask").removeClass("fn-hide");
	  			$(".erweima").removeClass("fn-hide");

	  		});
	  		
	  		$(".teachers-mask").click(function(){
	  			$(this).addClass("fn-hide");
	  			$(".erweima").addClass("fn-hide");
	  		});

			$("input[name = index-input-button]")[0].addEventListener('touchstart',function(){
				var self = $(this),
					nickname = $("input[name = index-input-name]").val(),
					phone = $("input[name = index-input-phone]").val(),
					grade = $("select[name = index-select-grade]").val(),
					subject = $("select[name = index-select-subject]").val();
					if(self.hasClass('subject'))
					return;
					$.ajax({
						url:"",
						data:{
							nickname:nickname,
							phone:phone,
							grade:grade,
							subject:subject
						},
						dataType:"json",
						type:"POST",
						beforeSend:function(){
							if(!nickname){
								alert("请输入姓名");
								return false;
							}
							if(!phone){
								alert('请输入手机号码');
								return false;
							}
							if(!(/^1\d{10}$/.test(phone))){
								alert('请输入正确的手机号码');
								return false;
							}
							if(!grade){
								alert('请输入年级');
								return false;
							}
							if(!subject){
								alert('请输入科目');
								return false;
							}
							self.addClass('subject');
						},
						success:function(){

						},
						error:function(){
							alert("网络连接错误")
						}
					});
			});
		}

/*
		var W = $(window).height(),
			H = $(".index-fixed").height();
			
		
		window.onscroll=function(){
			var T = $(".index-contact-us").position().top;
 			if($(window).scrollTop()>T-W+H){
 				$(".index-fixed").addClass("index-relative");
 			}else{
 				$(".index-fixed").removeClass("index-relative");
 			}
		}*/	
	</script>
</body>
</html>