<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
	<meta name="wap-font-scale" content="no">
	<title>teachers-app</title>
	<link rel="stylesheet" href="../lib/compontent/css/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="../lib/css/index-app.scss">
	<script src="../lib/compontent/js/zepto.min.js"></script>
	<script src="../lib/compontent/js/idangerous.swiper-2.0.min.js"></script>
	<style>
		.pagination {
		  position: absolute;
		  z-index: 20;
		  bottom: 0;
		  width: 100%;
		  text-align: center;
		  background: #f2f2f2;
		  border-radius: .8rem;
		
		}
		.swiper-pagination-switch {
		  display: block;
		  width: 33.3333%;
		  height: .8rem;
		  border-radius: 8px;
		  background: 0;
		  float: left;
		  cursor: pointer;
		  margin:0;
		  border:0;
		  transition: all 0.5s;
		}
		.swiper-active-switch {
		  background: #fb5c5a;
		}
	</style>
</head>
<body>
	<!-- 头部 start -->
	<div class="index-top main">
		<div class="fn-left logo">
			<img src="../lib/images/app-index-logo.png" alt="">
		</div>
		<a href="tel:4000939775" class="fn-right phone">
			<i class="iconfont icon-fontphone"></i>
			4000-939-775
		</a>
	</div>
	<!-- 头部 end -->

	<!-- banner start -->
	<div class="index-banner main">
		<img src="../lib/images/app-index-banner1.jpg" alt="">
	</div>
	<!-- banner end -->
	
	<!-- //汇集全国优秀老师 start-->
	<div class="teachers-country main">
		<div class="teachers-country-inner1">
			<div class="fn-left left">
				<img src="../lib/images/app-teachers1.png" alt="">
			</div>
			<div class="fn-right right">
				<h4>汇集全国优秀老师</h4>
				<p>优思老师全部来自全国著名"211","985"高校</p>
			</div>	
		</div>

		<div class="teachers-country-inner2 inner-marginTop">
			<div class="fn-right right">
				<img src="../lib/images/app-teachers2.png" alt="">
			</div>
			<div class="fn-left left">
				<h4>熟悉各省教材</h4>
				<p>熟悉各省市的教材、知识结构和考试重难点</p>
			</div>	
		</div>
		
		<div class="teachers-country-inner1 inner-marginTop">
			<div class="fn-left left">
				<img src="../lib/images/app-teachers3.png" alt="">
			</div>
			<div class="fn-right right">
				<h4>专业过硬的授课能力</h4>
				<p>拥有专业的授课能力，课堂生动有趣，效果好</p>
			</div>	
		</div>

		<div class="teachers-country-inner2 inner-marginTop">
			<div class="fn-right right">
				<img src="../lib/images/app-teachers4.png" alt="">
			</div>
			<div class="fn-left left">
				<h4>培养过优秀学生</h4>
				<p>100%的优思老师带出过优秀的学生</p>
			</div>	
		</div>
		
		<div class="teachers-good">
			<h5>只录用<span>3.5%</span>的好老师</h5>
			<p>真正万中挑一的好老师，效果看得见</p>
		</div>
		
		<div class="teachers-screen">
			<img src="../lib/images/app-teachers5.jpg" alt="">
		</div>
	</div>
	<!-- //汇集全国优秀老师 end-->

	<!-- // 优思老师风采 start -->
	<div class="main teachers-style">
		<h4>优思<span>老师</span>风采</h4>
		<p>来自全国各省重点任教的优秀老师，提分有保障</p>
		<div class="teachers-box">
			<div class="pagination"></div>
			<div class="swiper-container teachers">
			  <div class="swiper-wrapper">
			    <div class="swiper-slide">
			    	<div class="teachers-list">
						<div class="fn-left left">
							<img src="../lib/images/app-teachers83.jpg" alt="">
							<h4>马博</h4>
							<p>上海交通大学博士</p>
						</div>
						<div class="fn-right right">
							<img src="../lib/images/app-teachers80.jpg" alt="">
							<h4>高英</h4>
							<p>优思化学教研总监</p>
						</div>
					</div>
			    </div>
			    <div class="swiper-slide">
			    	<div class="teachers-list">
						<div class="fn-left left">
							<img src="../lib/images/app-teachers6.jpg" alt="">
							<h4>张娟</h4>
							<p>中学生VIP教学主管</p>
						</div>
						<div class="fn-right right">
							<img src="../lib/images/app-teachers81.jpg" alt="">
							<h4>王鹏</h4>
							<p>上海师范大学硕士</p>
						</div>
					</div>
			    </div>
			    <div class="swiper-slide">
			    	<div class="teachers-list">
						<div class="fn-left left">
							<img src="../lib/images/app-teachers82.jpg" alt="">
							<h4>杨晓伟</h4>
							<p>清华大学物理学硕士</p>
						</div>
						<div class="fn-right right">
							<img src="../lib/images/app-teachers7.jpg" alt="">
							<h4>黄雪琼</h4>
							<p>上海交通大学研究生</p>
						</div>
					</div>
			    </div>
			  </div>
			</div>
			
		</div>
	</div>
	<!-- // 优思老师风采 end -->

	<!-- //立即免费试听 start -->
	<div class="main index-teachers marginTop">
		<a name="index-mao"></a>
		<div class="index-doog-teachers "> 
			<h4>预约<span>免费</span>试听</h4>
			<div class="index-appointment">				
				<input type="text" name="index-input-name" placeholder="学生姓名">
				<input type="text" name="index-input-phone" placeholder="电话号码">
				<select class="fn-left" name="index-select-grade" id="">
					<option value="0">年级</option>
					<option value="1">一年级</option>
					<option value="2">二年级</option>
					<option value="3">三年级</option>
					<option value="4">四年级</option>
					<option value="5">五年级</option>
					<option value="6">六年级</option>
					<option value="7">初一</option>
					<option value="8">初二</option>
					<option value="9">初三</option>
					<option value="10">高一</option>
					<option value="11">高二</option>
					<option value="12">高三</option>
				</select>
				<select class="fn-right" name="index-select-subject" id="">
					<option value="0">科目</option>
					<option value="1">语文</option>
					<option value="2">数学</option>
					<option value="3">英语</option>
					<option value="4">物理</option>
					<option value="5">化学</option>
					<option value="6">生物</option>
					<option value="7">地理</option>
					<option value="8">政治</option>
					<option value="9">历史</option>
					<option value="10">科学</option>
				</select>
				<input type="button" name="index-input-button" value="领取试听课">
			</div>
		</div>
	</div>	
	<!-- //立即免费试听 end -->
	
	<div class="teacher-parent main">
		<h4>家长反馈</h4>
		<p>优思老师深受学生喜爱，家长信赖</p>

		<div class="weixin-list">
			<img src="../lib/images/app-teachers8.jpg" alt="">
		</div>
		<div class="weixin-xian"></div>
		<div class="weixin-list">
			<img src="../lib/images/app-teachers9.jpg" alt="">
		</div>
		<div class="weixin-xian"></div>
		<div class="weixin-list">
			<img src="../lib/images/app-teachers10.jpg" alt="">
		</div>
		<div class="weixin-xian"></div>
		<div class="weixin-list">
			<img src="../lib/images/app-teachers11.jpg" alt="">
		</div>
	</div>

	<!-- 底部固定框 start -->
	<div class="main index-fixed">
		<div class="fn-left left">
			<a href="tel:4000939775">
				<i class="iconfont icon-fontphone"></i>
				<span>电话咨询</span>
			</a>
		</div>
		<div class="fn-right right">
		<a href="#index-mao">
			<i class="iconfont icon-dianhuayuyue"></i>
			<span>在线预约</span>
		</a>
			
		</div>
	</div>
	<!-- 底部固定框 end -->
	
	<!-- 浮动 弹框 start -->
	<div class="teachers-mask fn-hide"></div>
	<div class="erweima fn-hide">
		
	</div>
	<!-- 浮动 弹框 end -->

	<!-- //footer start -->
	<div class="main index-contact-us">
		<h4>联系我们</h4>
		<div class="index-photo">
			<a href="tel:4000939775"><img src="../lib/images/app-index-20.png" alt=""></a>
			<img class="teachers-img-btn" src="../lib/images/app-index-21.png" alt="">
			<img class="qq-btn" src="../lib/images/app-index-22.png" alt="">
		</div>
		<div class="index-a">
			<a href="javascript:void(0)">优思教辅</a>
			<span>|</span>
			<a href="javascript:void(0)">优思师资</a>
			<span>|</span>
			<a href="javascript:void(0)">优思优势</a>
		</div>
		<p> Copyright©2015-2016 优思教育版权所有(沪ICP备14041652号-1)
上海剑川教育科技有限公司</p>
	</div>
	<!-- //footer end -->

	<script>
	window.onload=function(){
		var myTeachers = new Swiper('.teachers',{
			autoplay : 3000,//可选选项，自动滑动
			loop : true,//可选选项，开启循环
			pagination : '.pagination'
		})

		$(".qq-btn").click(function(){
			$(".erweima").html('<img src="/Public/images/QQ.png" alt="">');
  			$(".teachers-mask").removeClass("fn-hide");
  			$(".erweima").removeClass("fn-hide");
		});

  		$(".teachers-img-btn").click(function(){
  			$(".erweima").html('<img src="/Public/images/app-erweima.png" alt="">');
  			$(".teachers-mask").removeClass("fn-hide");
  			$(".erweima").removeClass("fn-hide");

  		});

  		$(".teachers-mask").click(function(){
  			$(this).addClass("fn-hide");
  			$(".erweima").addClass("fn-hide");
  		});

		$("input[name = index-input-button]")[0].addEventListener('touchstart',function(){
			var self = $(this),
				nickname = $("input[name = index-input-name]").val(),
				phone = $("input[name = index-input-phone]").val(),
				grade = $("select[name = index-select-grade]").val(),
				subject = $("select[name = index-select-subject]").val();
				if(self.hasClass('subject'))
				return;
				$.ajax({
					url:"",
					data:{
						nickname:nickname,
						phone:phone,
						grade:grade,
						subject:subject
					},
					dataType:"json",
					type:"POST",
					beforeSend:function(){
						if(!nickname){
							alert("请输入姓名");
							return false;
						}
						if(!phone){
							alert('请输入手机号码');
							return false;
						}
						if(!(/^1\d{10}$/.test(phone))){
							alert('请输入正确的手机号码');
							return false;
						}
						if(!grade){
							alert('请输入年级');
							return false;
						}
						if(!subject){
							alert('请输入科目');
							return false;
						}
						self.addClass('subject');
					},
					success:function(){

					},
					error:function(){
						alert("网络连接错误")
					}
				});
		});
}
	</script>
</body>
</html>