<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生中心</title>
	<link rel="stylesheet" href="../lib/css/student-core.scss">
	<script src="../lib/compontent/jquery/jquery-1.11.3.js"></script>
	<script src="../lib/compontent/jquery/placeholders.js"></script>
	<script src="../lib/js/ie8_function.js"></script>
	<script src="../lib/js/functions.js"></script>
</head>
<body>
	<!--头部-->
	<div class="school-top">
		<div class="school-inner">
			<div class="fn-left left">
				<a class="first" href="javascript:void(0)">
					<i class="icon-fontphone iconfont"></i>
					<span>免费热线 : 4000 939 775</span>
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontwenxi iconfont"></i>
					<span>微信</span>
					<img src="../lib/images/font-right.png" alt="">
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontxinxi iconfont"></i>
					<span>在线咨询</span>
				</a>
			</div>
			<div class="fn-right right">
				<a href="#">
					<i class="iconfont icon-fontcurriculum"></i>
					<span>课程管理</span>
				</a>
				<a href="#">

					<i class="iconfont icon-fontorder"></i>
					<span>订单管理</span>
				</a>
				<a class="xinxi" href="#">
					<i class="iconfont icon-fontnews"></i>
					<span>消息</span><span class="red">(12)</span>
				</a>

				<div class="login_register fn-hide">
					<a class="" href="#">登录</a>
					<span class="shu">|</span>
					<a  id="school-register" href="#">注册</a>					
				</div>

				<div class="my_logon " href="javascript:void(0)">
					<img src="../lib/images/photo1.jpg" alt="">
					<span id="id_name">王小彭sda</span>					
					<i class="iconfont icon-fontbottom i1"></i>
					<i class="iconfont icon-xia i2"></i>
					<ul class="my_list ">
						<li><a href="javascript:void(0)"><span class="icon-fintinformation iconfont">&nbsp;&nbsp;</span>个人资料</a></li>
						<li><a href="javascript:void(0)"><span class="iconfont icon-modify">&nbsp;&nbsp;</span>
							修改密码</a>
						</li>
						<li>
						<a href="javascript:void(0)"><span class="iconfont icon-guanbi">&nbsp;&nbsp;</span>退出登录 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="school-header-box">
		<div class="school-header">
			<div class="fn-left left">
				
			</div>
			<div class="fn-right right">
				<a href="javascript:void(0)">首页</a>
				<a class="school-nav-index" href="javascript:void(0)">在线1对1</a>
				<a href="javascript:void(0)">在线小班课</a>
				<a href="javascript:void(0)">优思优势</a>
				<a href="javascript:void(0)">授课系统下载</a>
			</div>
		</div>
	</div>
	<!--//头部end -->

	<!--// 我的课程 -->
	<div class="student-core">
		<div class="fn-left student-list">
			<div class="top">				 
			</div>
			<div class="bottom">
				<div class="student-photo">
					<img src="../lib/images/student-1.png" alt="">
				</div>
				<a class="nickname" href="javascript:void(0)">王小胖</a>
				<ul class="student-information">
					<li>
						<a href="javascript:void(0)"><span>2</span></a>
						<a href="javascript:void(0)">代付款</a>
					</li>
					<li>
						<a href="javascript:void(0)"><span>3</span></a>
						<a href="javascript:void(0)">已开课</a>
					</li>
					<li class="last">
						<a href="javascript:void(0)"><span>0</span></a>
						<a href="javascript:void(0)">待试听</a>
					</li>
				</ul>
			</div>
			<ul class="student-ul">
			<li>
				<span class="icon-fonthome iconfont fn-left span1"></span>
				<a href="javascript:void(0)">我的首页</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li class="student-index">
				<span class="icon-fontcurriculum iconfont fn-left span1"></span>
				<a href="javascript:void(0)">我的课程</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li>
				<span class="icon-fontorder iconfont fn-left span1"></span>
				<a href="javascript:void(0)">我的订单</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li>
				<span class="icon-fontyouhui iconfont fn-left span1"></span>
				<a href="javascript:void(0)">优惠券</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li>
				<span class="icon-fintinformation iconfont fn-left span1"></span>
				<a href="javascript:void(0)">个人资料</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
		</ul>
		</div>
		<!--// 右边 -->
		<div class="fn-right student-inner">
			<div class="sutdent-teach">
				<div class="fn-left left">
					<a href="javascript:void(0)">我的订单</a>					
				</div>
				<div class="fn-right right">
					<h5>我的班主任:</h5>
					<span class="phone">电话:</span>
					18801795361
					<span class="qq">QQ:</span>
					258352263
					<span class="wei">微信:</span>
					wangshuai5361
				</div>
			</div>			
			<!--//内容-->
			<div class="sutdents">
				<ul class="my-order">
					<li class="one fn-left">
						<a href="javascript:void(0)">2016-05-16</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							订单号:
							<span class="ccc">1605160321</span>
						</a>
					</li>
					<li class="one fn-left">
					<a href="javascript:void(0)">
						<span class="red">优思网校</span>
						<span class="icon-phone3 iconfont red"></span>
					</a></li>
					<li class="fn-right"><a href="javascript:void(0)"><span class="ccc">取消订单</span></a></li>
				</ul>
				<table class="my-order-box">
					<tr>
						<td width="54%">
							<div class="fn-left left">
								<img src="../lib/images/my-order-1.png" alt="">
							</div>
							<div class="fn-left right">
								<a href="javascript:void(0)">
									<span class="one">【1对1】</span>
									高三数学一轮复习经典知识讲解(共12节)
								</a>
								&nbsp;
								老师 :
								<span>杨广发</span>
								<span class="shu">|</span>
								总课时 : 
								<span class="last">24</span>
								小时
							</div>
						</td>
						<td width="14%">
							<span class="red">320元</span>
						</td>
						<td width="14%">
							<span class="last">待付款</span>
						</td>
						<td>
						<a class="my-order-btn now_money" href="javascript:void(0)">立即付款</a>
						</td>
					</tr>
				</table>
				<ul class="my-order">
					<li class="one fn-left">
						<a href="javascript:void(0)">2016-05-16</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							订单号:
							<span class="ccc">1605160321</span>
						</a>
					</li>
					<li class="one fn-left">
					<a href="javascript:void(0)">
						<span class="red">优思网校</span>
						<span class="icon-phone3 iconfont red"></span>
					</a>
					</li>
					<li class="fn-right"></li>
				</ul>
				<table class="my-order-box">
					<tr>
						<td width="54%">
							<div class="fn-left left">
								<img src="../lib/images/my-order-1.png" alt="">
							</div>
							<div class="fn-left right">
								<a href="javascript:void(0)">
									<span class="one">【1对1】</span>
									高三数学一轮复习经典知识讲解(共12节)
								</a>
								&nbsp;
								老师 :
								<span>杨广发</span>
								<span class="shu">|</span>
								总课时 : 
								<span class="last">24</span>
								小时
							</div>
						</td>
						<td width="14%">
							<span class="red">320元</span>
						</td>
						<td width="14%">
							<span class="red">已付款</span>
						</td>
						<td>
						<a class="my-order-btn cccB" href="javascript:void(0)">申请退款</a>
						</td>
					</tr>
				</table>
				<ul class="my-order">
					<li class="one fn-left">
						<a href="javascript:void(0)">2016-05-16</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							订单号:
							<span class="ccc">1605160321</span>
						</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							<span class="red">优思网校</span>
							<span class="icon-phone3 iconfont red"></span>
						</a>
					</li>
					<li class="fn-right"><a href="javascript:void(0)"><span class="ccc iconfont icon-recovery"></span></a></li>
				</ul>
				<table class="my-order-box">
					<tr>
						<td width="54%">
							<div class="fn-left left">
								<img src="../lib/images/my-order-1.png" alt="">
							</div>
							<div class="fn-left right">
								<a href="javascript:void(0)">
									<span class="one">【1对1】</span>
									高三数学一轮复习经典知识讲解(共12节)
								</a>
								&nbsp;
								老师 :
								<span>杨广发</span>
								<span class="shu">|</span>
								总课时 : 
								<span class="last">24</span>
								小时
							</div>
						</td>
						<td width="14%">
							<span class="red">320元</span>
						</td>
						<td width="14%">
							<span class="last">已取消</span>
						</td>
						<td>
						<a class="my-order-btn cccB" href="javascript:void(0)">订单关闭</a>
						</td>
					</tr>
				</table>

				<ul class="my-order">
					<li class="one fn-left">
						<a href="javascript:void(0)">2016-05-16</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							订单号:
							<span class="ccc">1605160321</span>
						</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							<span class="red">优思网校</span>
							<span class="icon-phone3 iconfont red"></span>
						</a>
					</li>
					<li class="fn-right"><a href="javascript:void(0)"></a></li>
				</ul>
				<table class="my-order-box">
					<tr>
						<td width="54%">
							<div class="fn-left left">
								<img src="../lib/images/my-order-1.png" alt="">
							</div>
							<div class="fn-left right">
								<a href="javascript:void(0)">
									<span class="one">【1对1】</span>
									高三数学一轮复习经典知识讲解(共12节)
								</a>
								&nbsp;
								老师 :
								<span>杨广发</span>
								<span class="shu">|</span>
								总课时 : 
								<span class="last">24</span>
								小时
							</div>
						</td>
						<td width="14%">
							<span class="red">320元</span>
						</td>
						<td width="14%">
							<span class="red">已付款</span>
						</td>
						<td>
						<a class="my-order-btn redB" href="javascript:void(0)">付款成功</a>
						</td>
					</tr>
				</table>


<ul class="my-order">
					<li class="one fn-left">
						<a href="javascript:void(0)">2016-05-16</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							订单号:
							<span class="ccc">1605160321</span>
						</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							<span class="red">优思网校</span>
							<span class="icon-phone3 iconfont red"></span>
						</a>
					</li>
					<li class="fn-right"><a href="javascript:void(0)"><span class="ccc">取消退款</span></a></li>
				</ul>
				<table class="my-order-box">
					<tr>
						<td width="54%">
							<div class="fn-left left">
								<img src="../lib/images/my-order-1.png" alt="">
							</div>
							<div class="fn-left right">
								<a href="javascript:void(0)">
									<span class="one">【1对1】</span>
									高三数学一轮复习经典知识讲解(共12节)
								</a>
								&nbsp;
								老师 :
								<span>杨广发</span>
								<span class="shu">|</span>
								总课时 : 
								<span class="last">24</span>
								小时
							</div>
						</td>
						<td width="14%">
							<span class="red">320元</span>
						</td>
						<td width="14%">
							<span class="ffa">退款处理中</span>
							<h5 class="c6">退款金额 : 150元</h5>
						</td>
						<td>
						<a class="my-order-btn cccB" href="javascript:void(0)">退款中</a>
						</td>
					</tr>
				</table>

				<ul class="my-order">
					<li class="one fn-left">
						<a href="javascript:void(0)">2016-05-16</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							订单号:
							<span class="ccc">1605160321</span>
						</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							<span class="red">优思网校</span>
							<span class="icon-phone3 iconfont red"></span>
						</a>
					</li>
					<li class="fn-right"><a href="javascript:void(0)"><span class="iconfont icon-recovery ccc"></span></a></li>
				</ul>
				<table class="my-order-box">
					<tr>
						<td width="54%">
							<div class="fn-left left">
								<img src="../lib/images/my-order-1.png" alt="">
							</div>
							<div class="fn-left right">
								<a href="javascript:void(0)">
									<span class="one">【1对1】</span>
									高三数学一轮复习经典知识讲解(共12节)
								</a>
								&nbsp;
								老师 :
								<span>杨广发</span>
								<span class="shu">|</span>
								总课时 : 
								<span class="last">24</span>
								小时
							</div>
						</td>
						<td width="14%">
							<span class="red">320元</span>
						</td>
						<td width="14%">
							<span class="c9">退款成功</span>
							<h5 class="c6">退款金额 : 150元</h5>
						</td>
						<td>
						<a class="my-order-btn cccB" href="javascript:void(0)">已退款</a>
						</td>
					</tr>
				</table>

				<ul class="my-order">
					<li class="one fn-left">
						<a href="javascript:void(0)">2016-05-16</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							订单号:
							<span class="ccc">1605160321</span>
						</a>
					</li>
					<li class="one fn-left">
						<a href="javascript:void(0)">
							<span class="red">优思网校</span>
							<span class="icon-phone3 iconfont red"></span>
						</a>
					</li>
					<li class="fn-right"><a href="javascript:void(0)"><span class="iconfont icon-recovery ccc"></span></a></li>
				</ul>
				<table class="my-order-box">
					<tr>
						<td width="54%">
							<div class="fn-left left">
								<img src="../lib/images/my-order-1.png" alt="">
							</div>
							<div class="fn-left right">
								<a href="javascript:void(0)">
									<span class="one">【1对1】</span>
									高三数学一轮复习经典知识讲解(共12节)
								</a>
								&nbsp;
								老师 :
								<span>杨广发</span>
								<span class="shu">|</span>
								总课时 : 
								<span class="last">24</span>
								小时
							</div>
						</td>
						<td width="14%">
							<span class="red">320元</span>
						</td>
						<td width="14%">
							<span class="c6">退款失败</span>
							<a href="javascript:void(0)"><h5 class="ffa">查看失败原因</h5></a>
						</td>
						<td>
						<a class="my-order-btn " href="javascript:void(0)">再次申请</a>
						</td>
					</tr>
				</table>
			</div>
			<!--//内容 end-->	
		</div>
		
	</div>

	<!--// 我的课程 end-->	

	<!--//footer start-->
	<div class="school-footer-box">
		<div class="school-footer">
			<ul class="fn-left left">
				<li> 
					<a href="javascript:void(0)"><span>帮助中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					购买指南</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					支付方式</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务保障</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>教员中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					申请教员</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					教员登录</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务条款</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>媒体中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新闻动态</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方视频</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					图片资源</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关于公司</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					公司简介</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					加入我们</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					联系我们</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关注我们</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新浪微博</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方微信</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方贴吧</a>
				</li>
			</ul>
			<div class="fn-right right">
				<h4 class="icon-fontphone1 iconfont"></h4>
				<p>400-619-0909</p>
				<span>周一至周日:09:00-22:00</span>
			</div>
		</div>
	</div>
	<div class="school-sequence">
		<a href="javascript:void(0)">优思网校</a>
	<span>Copyright ©2015-2016 优思教育版权所有(沪|CP备14041652号-1)</span>
	</div>	
	<!--//footer end-->

	<!--//  支付弹框 -->
	<div class="school_mask fn-hide">
		
	</div>

	<div class="payment_money fn-hide">
		<div class="payment_title">
			<span>购买课程</span>
			<i class="fn-right iconfont icon-xxx payment_money_off"></i>
		</div>

		<ul class="payment_information">
			<li>
				课程名称
				<a href="javascript:void(0)">
					<span class="span1">【沪教版】</span>高三数学一轮复习知识讲解(共12节)

				</a>
			</li>
			<li>
				课程类型:<span>在线1对1</span>
				<span class="xian">|</span>
				课程时长:<span>20课时</span>
				<span class="xian">|</span>
				授课老师:<span>杨光发</span>
			</li>
			<li class="one">
				<div class="box">
					<span>
						开课时间:2016年6月20日开始,每周六、周日下午2：00-5:00
					</span>
				</div>	
			</li>
			<li>
				<div class="box Price">
					价格<span class="span1">1280.00元</span>
				</div>	
				
			</li>
			<li class="mode">
				<span class="fn-left">支持支付宝、微信、银行啦支付</span>
				<a class="fn-right payment_money_off" href="javascript:void(0)">取消</a>
				<a class="fn-right index" href="javascript:void(0)">去支付</a>
			</li>
		</ul>
	</div>

	<!--//  支付弹框 -->
	<script src="../lib/js/student-core.js"></script>	
</body>
</html>