<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生中心</title>
	<link rel="stylesheet" href="../lib/css/student-core.scss">
	<script src="../lib/compontent/jquery/jquery-1.11.3.js"></script>
	<script src="../lib/compontent/jquery/placeholders.js"></script>
	<script src="../lib/js/ie8_function.js"></script>	
</head>
<body>
	<!--头部-->
	<div class="school-top">
		<div class="school-inner">
			<div class="fn-left left">
				<a class="first" href="javascript:void(0)">
					<i class="icon-fontphone iconfont"></i>
					<span>免费热线 : 4000 939 775</span>
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontwenxi iconfont"></i>
					<span>微信</span>
					<img src="../lib/images/font-right.png" alt="">
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontxinxi iconfont"></i>
					<span>在线咨询</span>
				</a>
			</div>
			<div class="fn-right right">
				<a href="#">
					<i class="iconfont icon-fontcurriculum"></i>
					<span>课程管理</span>
				</a>
				<a href="#">

					<i class="iconfont icon-fontorder"></i>
					<span>订单管理</span>
				</a>
				<a class="xinxi" href="#">
					<i class="iconfont icon-fontnews"></i>
					<span>消息</span><span class="red">(12)</span>
				</a>

				<div class="login_register ">
					<a class="" href="#">登录</a>
					<span class="shu">|</span>
					<a  id="school-register" href="#">注册</a>					
				</div>

				<div class="my_logon fn-hide" href="javascript:void(0)">
					<img src="../lib/images/photo1.jpg" alt="">
					<span id="id_name">王小彭sda</span>					
					<i class="iconfont icon-fontbottom i1"></i>
					<i class="iconfont icon-xia i2"></i>
					<ul class="my_list ">
						<li><a href="javascript:void(0)"><span class="icon-fintinformation iconfont">&nbsp;&nbsp;</span>个人资料</a></li>
						<li><a href="javascript:void(0)"><span class="iconfont icon-modify">&nbsp;&nbsp;</span>
							修改密码</a>
						</li>
						<li>
						<a href="javascript:void(0)"><span class="iconfont icon-guanbi">&nbsp;&nbsp;</span>退出登录 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="school-header-box">
		<div class="school-header">
			<div class="fn-left left">
				
			</div>
			<div class="fn-right right">
				<a href="javascript:void(0)">首页</a>
				<a class="school-nav-index" href="javascript:void(0)">在线1对1</a>
				<a href="javascript:void(0)">在线小班课</a>
				<a href="javascript:void(0)">优思优势</a>
				<a href="javascript:void(0)">授课系统下载</a>
			</div>
		</div>
	</div>
	<!--//头部end -->

	<!--// 我的课程 -->
	<div class="student-core">
		<div class="fn-left student-list">
			<div class="top">				 
			</div>
			<div class="bottom">
				<div class="student-photo">
					<img src="../lib/images/student-1.png" alt="">
				</div>
				<a class="nickname" href="javascript:void(0)">王小胖</a>
				<ul class="student-information">
					<li>
						<a href="javascript:void(0)"><span>2</span></a>
						<a href="javascript:void(0)">代付款</a>
					</li>
					<li>
						<a href="javascript:void(0)"><span>3</span></a>
						<a href="javascript:void(0)">已开课</a>
					</li>
					<li class="last">
						<a href="javascript:void(0)"><span>0</span></a>
						<a href="javascript:void(0)">待试听</a>
					</li>
				</ul>
			</div>
			<ul class="student-ul">
			<li>
				<span class="icon-fonthome iconfont fn-left span1"></span>
				<a href="javascript:void(0)">我的首页</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li class="student-index">
				<span class="icon-fontcurriculum iconfont fn-left span1"></span>
				<a href="javascript:void(0)">我的课程</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li>
				<span class="icon-fontorder iconfont fn-left span1"></span>
				<a href="javascript:void(0)">我的订单</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li>
				<span class="icon-fontyouhui iconfont fn-left span1"></span>
				<a href="javascript:void(0)">优惠券</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
			<li>
				<span class="icon-fintinformation iconfont fn-left span1"></span>
				<a href="javascript:void(0)">个人资料</a>
				<span class="icon-rights iconfont fn-right span2"></span>
			</li>
		</ul>
		</div>
		<!--// 右边 -->
		<div class="fn-right student-inner">
			<div class="sutdent-teach">
				<div class="fn-left left">
					<a href="javascript:void(0)">个人资料</a>
					&gt;
					<span>基本资料</span>
				</div>
				<div class="fn-right right">
					<h5>我的班主任:</h5>
					<span class="phone">电话:</span>
					18801795361
					<span class="qq">QQ:</span>
					258352263
					<span class="wei">微信:</span>
					wangshuai5361
				</div>
			</div>

			<!--// 选项卡-->
			<div class="sutdent-xxk">
				<a  class="index"  href="javascript:void(0)">
					<span class="iconfont icon-fontkecheng"></span>
					课程表
				</a>
				<a href="javascript:void(0)">
					<span class="iconfont icon-fontnews"></span>
					消息通知
					<i>3</i>
				</a>
				
			</div>
			<!--// 选项卡 end-->
			
			<!--//内容-->
			<div class="sutdents">
				<div class="time_choice">
					<a class="index" href="javascript:void(0)">今天</a>
					<a href="javascript:void(0)">明天</a>
					<a href="javascript:void(0)">本周</a>
					<a href="javascript:void(0)">本月</a>
					<span class="fn-right">今天是 : 2016年2月14日</span>
				</div>
				<div class="time_lists">
					<div class="fn-left time">
						<h4>今天</h4>
						<p>14:00 - 16:00</p>
					</div>
					<div class="fn-right time_lists_curriculum">
						<ul class="top">
							<li class="one"><span class="red">【1对1】</span><span class="c9">高中/数学</span></li>
							<li class="two"><span>剩余课时:</span><span class="ffa">10</span><span class="c6">/24小时</span></li>
							<li class="three">
								<span>老师</span> : 
								<span class="c6">杨广发</span>
							</li>
						</ul>
						<ul class="bottom">
							<li class="four">
								&nbsp;
								<span>课程 : </span>
								<span class="c6">高三数学一轮复习经典知识讲解(第5/12节)</span>
							</li>
							<li>
								<a  href="javascript:void(0)">
									<span class="icon-fontxinxi iconfont ffa"></span>
									联系老师
								</a>

							</li>
						</ul>
						<a class="enter_teacher ffaB" href="javascript:void(0)">进入教室</a>
					</div>
				</div>

				<div class="time_lists">
					<div class="fn-left time cccB">
						<h4>明天</h4>
						<p>14:00 - 16:00</p>
					</div>
					<div class="fn-right time_lists_curriculum">
						<ul class="top">
							<li class="one"><span class="c6">【1对1】</span><span class="c6">高中/数学</span></li>
							<li class="two"><span class="c6">剩余课时:</span><span class="c6">10</span><span class="c6">/24小时</span></li>
							<li class="three">
								<span>老师</span> : 
								<span class="c6">杨广发</span>
							</li>
						</ul>
						<ul class="bottom">
							<li class="four">
								&nbsp;
								<span class="c6">课程 : </span>
								<span class="c6">高三数学一轮复习经典知识讲解(第5/12节)</span>
							</li>
							<li>
								<a  href="javascript:void(0)">
									<span class="icon-fontxinxi iconfont ffa"></span>
									联系老师
								</a>

							</li>
						</ul>
						<a class="enter_teacher cccB" href="javascript:void(0)">进入教室</a>
					</div>
				</div>	

				<div class="time_lists">
					<div class="fn-left time cccB">
						<h4>后天</h4>
						<p>14:00 - 16:00</p>
					</div>
					<div class="fn-right time_lists_curriculum">
						<ul class="top">
							<li class="one"><span class="c6">【1对1】</span><span class="c6">高中/数学</span></li>
							<li class="two"><span class="c6">剩余课时:</span><span class="c6">10</span><span class="c6">/24小时</span></li>
							<li class="three">
								<span>老师</span> : 
								<span class="c6">杨广发</span>
							</li>
						</ul>
						<ul class="bottom">
							<li class="four">
								&nbsp;
								<span class="c6">课程 : </span>
								<span class="c6">高三数学一轮复习经典知识讲解(第5/12节)</span>
							</li>
							<li>
								<a  href="javascript:void(0)">
									<span class="icon-fontxinxi iconfont ffa"></span>
									联系老师
								</a>

							</li>
						</ul>
						<a class="enter_teacher cccB" href="javascript:void(0)">进入教室</a>
					</div>
				</div>

				<div class="time_lists">
					<div class="fn-left time cccB">
						<h4>2016-2-22</h4>
						<p>14:00 - 16:00</p>
					</div>
					<div class="fn-right time_lists_curriculum">
						<ul class="top">
							<li class="one"><span class="c6">【1对1】</span><span class="c6">高中/数学</span></li>
							<li class="two"><span class="c6">剩余课时:</span><span class="c6">10</span><span class="c6">/24小时</span></li>
							<li class="three">
								<span>老师</span> : 
								<span class="c6">杨广发</span>
							</li>
						</ul>
						<ul class="bottom">
							<li class="four">
								&nbsp;
								<span class="c6">课程 : </span>
								<span class="c6">高三数学一轮复习经典知识讲解(第5/12节)</span>
							</li>
							<li>
								<a  href="javascript:void(0)">
									<span class="icon-fontxinxi iconfont ffa"></span>
									联系老师
								</a>

							</li>
						</ul>
						<a class="enter_teacher cccB" href="javascript:void(0)">进入教室</a>
					</div>
				</div>													
			</div>
			<!--//内容 end-->	
		</div>
		
	</div>

	<!--// 我的课程 end-->	

	<!--//footer start-->
	<div class="school-footer-box">
		<div class="school-footer">
			<ul class="fn-left left">
				<li> 
					<a href="javascript:void(0)"><span>帮助中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					购买指南</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					支付方式</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务保障</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>教员中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					申请教员</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					教员登录</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务条款</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>媒体中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新闻动态</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方视频</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					图片资源</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关于公司</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					公司简介</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					加入我们</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					联系我们</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关注我们</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新浪微博</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方微信</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方贴吧</a>
				</li>
			</ul>
			<div class="fn-right right">
				<h4 class="icon-fontphone1 iconfont"></h4>
				<p>400-619-0909</p>
				<span>周一至周日:09:00-22:00</span>
			</div>
		</div>
	</div>
	<div class="school-sequence">
		<a href="javascript:void(0)">优思网校</a>
	<span>Copyright ©2015-2016 优思教育版权所有(沪|CP备14041652号-1)</span>
	</div>
	
	<!--//footer end-->
</body>
</html>