<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
	<title>在线小班课</title>
	<link rel="stylesheet" href="../lib/css/school-small.scss">
	<script src="../lib/compontent/jquery/jquery-1.11.3.js"></script>
	<script src="../lib/compontent/jquery/placeholders.js"></script>
	<script src="../lib/js/ie8_function.js"></script>
</head>
<body>
	<!--头部-->
	<div class="school-top">
		<div class="school-inner">
			<div class="fn-left left">
				<a class="first" href="javascript:void(0)">
					<i class="icon-fontphone iconfont"></i>
					<span>免费热线 : 4000 939 775</span>
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontwenxi iconfont"></i>
					<span>微信</span>
					<img src="../lib/images/font-right.png" alt="">
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontxinxi iconfont"></i>
					<span>在线咨询</span>
				</a>
			</div>
			<div class="fn-right right">
				<a href="#">
					<i class="iconfont icon-fontcurriculum"></i>
					<span>课程管理</span>
				</a>
				<a href="#">

					<i class="iconfont icon-fontorder"></i>
					<span>订单管理</span>
				</a>
				<a class="xinxi" href="#">
					<i class="iconfont icon-fontnews"></i>
					<span>消息</span><span class="red">(12)</span>
				</a>

				<div class="login_register ">
					<a class="" href="#">登录</a>
					<span class="shu">|</span>
					<a  id="school-register" href="#">注册</a>					
				</div>

				<div class="my_logon fn-hide" href="javascript:void(0)">
					<img src="../lib/images/photo1.jpg" alt="">
					<span id="id_name">王小彭sda</span>					
					<i class="iconfont icon-fontbottom i1"></i>
					<i class="iconfont icon-xia i2"></i>
					<ul class="my_list ">
						<li><a href="javascript:void(0)"><span class="icon-fintinformation iconfont">&nbsp;&nbsp;</span>个人资料</a></li>
						<li><a href="javascript:void(0)"><span class="iconfont icon-modify">&nbsp;&nbsp;</span>
							修改密码</a>
						</li>
						<li>
						<a href="javascript:void(0)"><span class="iconfont icon-guanbi">&nbsp;&nbsp;</span>退出登录 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="school-header-box">
		<div class="school-header">
			<div class="fn-left left">
				
			</div>
			<div class="fn-right right">
				<a href="javascript:void(0)">首页</a>
				<a class="school-nav-index" href="javascript:void(0)">在线1对1</a>
				<a href="javascript:void(0)">在线小班课</a>
				<a href="javascript:void(0)">优思优势</a>
				<a href="javascript:void(0)">授课系统下载</a>
			</div>
		</div>
	</div>
	<!--//头部end -->	

	<!--// school-small-banner -->
	<div class="school-small-banner-box">
		<div class="school-small-banner-inner">
			<div class="school-bread">
				当前位置:
				<a href="javascript:void(0)">选课中心</a>
				>
				<a href="javascript:void(0)">培优小班课</a>
				>
				<span>高三</span>
			</div>
			<div class="school-knowledge-explain">
				<div class="fn-left left">
					<img src="../lib/images/school-small-30.jpg" alt="">
				</div>
				<div class="fn-right right">
					<a href="javascript:void(0)">
						<h4>
						<span>【沪教版】</span>
						高三数学一轮复习经典知识讲解(共12节)
						</h4>
					</a>
					<ul class="ul_knowledge-explain">
						<li>
							<span class="span_left">
								&nbsp;
								对象:
							</span>
							<a class="grade first" id="high_two" href="javascript:void(0)">高二</a>
							<a class="grade" id="high_three" href="javascript:void(0)">高三</a>
						</li>
						<li>
							<span class="span_left">
								&nbsp;
								开课:
							</span>
							<div class="start">
								<span>2016年6月20日开始,每周六、周日下午2:00-5:00</span>
								<a class="fn-right iconfont icon-fontbottom" href="javascript:void(0)"></a>
							</div>
						</li>
						<li>
							<span class="span_left">
								&nbsp;
								开课:
							</span>
							最多12人,已报名<span class="num">
							6
							</span>人
						</li>
						<li>
							<span class="span_left">
								&nbsp;
								价格:
							</span>
							<span class="num">￥ 860.00 </span>
						</li>
						<li>
							<a class="a_left" href="javascript:void(0)">名师答疑</a>
							<a class="a_left" href="javascript:void(0)">全程监督</a>
							<a class="a_left" href="javascript:void(0)">作业批改</a>
							<a class="a_left" href="javascript:void(0)">无理由退款</a>

							
							<a class="a_right fn-right " href="javascript:void(0)">咨询预约</a>

							<a class="a_right fn-right index" href="javascript:void(0)">立即订购</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--// school-small-banner end-->

	<!--// box-->
	<div class="school-small-boxs">
		<div class="school-small-boxs-inner">

			<!--//ps 这个是左侧 left-->
			<div class="inner_left fn-left">			
				<div class=" boxs_left">
					<div class="title">
						<a class="index" href="javascript:void(0)">课程详情</a>
						<a href="javascript:void(0)">课程目录</a>
						<a href="javascript:void(0)">更多排期</a>
						<a href="javascript:void(0)">家长评价(19)</a>
						<a href="javascript:void(0)">我要咨询</a>
					</div>
					<div class="inner1">
						 <div class="imgbox">
						 	<img src="../lib/images/school-200.jpg" alt="">
						 </div>
						 <ul class="ul-font-list">
						 	<li>
						 		<h4>
						 			<i class="iconfont icon-shu"></i>
									<span>适用对象:</span>
						 		</h4>
						 		<p>口语发音薄弱者,小升初,小学生英语提高者,初中英语薄弱者。</p>
						 	</li>
						 	<li>
						 		<h4>
						 			<i class="iconfont icon-shu"></i>
									<span>开课时间及学习内容:</span>
						 		</h4>
						 		<p>周日至周五晚上7：30-8：30；  8：30 - 9：30； 9：30-10：30，分上册和下册，每册共72次课时，总共144课时。</p>
						 	</li>
						 	<li>
						 		<h4>
						 			<i class="iconfont icon-shu"></i>
									<span>讲师：David、katy</span>
						 		</h4>
						 		<p>David老师：8年网络《新概念英语》专业教学经验，其严谨、认真、务实的教学风格， 帮助着广大的英语学习者。大家可以去他的【主页】了解他的一些情况</p>
						 	</li>

						 	<li>
						 		<h4>
						 			<i class="iconfont icon-shu"></i>
									<span>教学内容和目标：</span>
						 		</h4>
						 		<p>
						 		<span>1、小班教学，朗读新概念英语第一册课文并纠正发音；</span>
						 		<span>2、针对新一的课文内容进行对话练习，尝试组织语言，从而提高大家的口语水平。</span>
						 		</p>
						 	</li>
						 	<li>
						 		<h4>
						 			<i class="iconfont icon-shu"></i>
									<span>教学安排:</span>
						 		</h4>
						 		<p>学习进度：两课时为一组。第1课时讲解课文及纠正发音，第2课时练习双数课内容及对话.</p>
						 	</li>
						 	<li>
						 		<h4>
						 			<i class="iconfont icon-shu"></i>
									<span>对学员的要求：</span>
						 		</h4>
						 		<p>
						 		<span>	1、每天必须准时参加，并跟班主任报到；</span>
						 		<span>2、提前下载优思授课系统并安装和登录；</span>
						 		<span>
						 			3、准备好耳机和话筒，不要用音箱，并提前调好效果；
						 		</span>
								<span>
									4、每次课程结束后完成老师布置的作业，并在下次上课前交作业；
								</span>
						 		</p>
						 	</li>
						 </ul>
					</div>
				</div>
				<!--// left end-->
				
				<!--// left-->
				<div class=" boxs_left margin_top">
					<div class="title">
						<a href="javascript:void(0)">课程详情(12)</a>
					</div>
					<div class="inner2">
						<ul class="list2">
							<li>
								<div class=" fn-left num_div">1</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											集合的基本构成——元素
										</a>
										<span class="time fn-right">
											2016-05-21
											14:30-16:30
										</span>
									</h4>
									<p class="fn-left">
										集合是高考多变的考题,既可以考大题,也可以作为填空题。
									</p>
									<div class="fn-right btn_div">
										<a href="javascript:void(0)" class="a_btn fn-right">课堂检测</a>
										<a href="javascript:void(0)" class="a_btn fn-right">集中答疑</a>
									</div>
								</div>
							</li>
							<li>
								<div class=" fn-left num_div">2</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											集合间的关系与运算(上)
										</a>
										<span class="time fn-right">
											2016-05-21
											14:30-16:30
										</span>
									</h4>
									<p class="fn-left">
										如果集合A的任意一个元素都是集合B的元素，那么集合A成为集合B的子集。
									</p>
									<div class="fn-right btn_div">
										<a href="javascript:void(0)" class="a_btn fn-right">集中答疑</a>
									</div>
								</div>
							</li>
							<li>
								<div class=" fn-left num_div">3</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											集合间的关系与运算(下)
										</a>
										<span class="time fn-right">
											2016-05-21
											14:30-16:30
										</span>
									</h4>
									<p class="fn-left">
										如果集合A的任意一个元素都是集合B的元素，那么集合A成为集合B的子集。
									</p>
									<div class="fn-right btn_div">
										<a href="javascript:void(0)" class="a_btn fn-right">集中答疑</a>
									</div>
								</div>
							</li>
							<li>
								<div class=" fn-left num_div">4</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											集合的方法论
										</a>
										<span class="time fn-right">
											2016-05-21
											14:30-16:30
										</span>
									</h4>
									<p class="fn-left">
										在做集合的题目时，方法尤其重要，在集合的练习题中最常见的三种方法是：
									</p>
									<div class="fn-right btn_div">
										<a href="javascript:void(0)" class="a_btn fn-right">课堂检测</a>
										<a href="javascript:void(0)" class="a_btn fn-right">集中答疑</a>
									</div>
								</div>
							</li>
							<li>
								<div class=" fn-left num_div">5</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											集合与方程、不等式
										</a>
										<span class="time fn-right">
											2016-05-21
											14:30-16:30
										</span>
									</h4>
									<p class="fn-left">
										集合的概念是一组确定的对象的全体叫做集合。
									</p>
									<div class="fn-right btn_div">
										<a href="javascript:void(0)" class="a_btn fn-right">集中答疑</a>
									</div>
								</div>
							</li>
							<li class="last">
								<a href="javascript:void(0)">
									<span class="iconfont icon-bottom"></span>
									点击查看全部
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--// left-->
				<div class=" boxs_left margin_top">
					<div class="title">
						<a href="javascript:void(0)">更多排期</a>
					</div>
					<div class="inner2">
						<ul class="list2">
							<li>
								<div class=" fn-left num_div">1</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											2016年6月20日开始，每周六、周日下午2：00—5：00
										</a>
										<a class="fn-right a_details" href="javascript:void(0)">了解详情</a>
									</h4>									
								</div>
							</li>
							<li>
								<div class=" fn-left num_div">2</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											2016年6月30日开始，每周一、周二晚上18：00—20：00
										</a>
										<a class="fn-right a_details" href="javascript:void(0)">了解详情</a>
									</h4>									
								</div>
							</li>
							<li>
								<div class=" fn-left num_div">3</div>
								<div class=" fn-right right_div">
									<h4>
										<a href="javascript:void(0)">
											2016年7月1日开始，每周三、周五晚上18：00—20：00
										</a>
										<a class="fn-right a_details" href="javascript:void(0)">了解详情</a>
									</h4>									
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!--// left-->
				<div class=" boxs_left margin_top">
					<div class="title">
						<a href="javascript:void(0)">家长评价(19)</a>
					</div>
					<div class="inner3">
						<ul class="ul_parent">
							<li>
								<div class="fn-left parent_photo">
									<img src="../lib/images/photo1.jpg" alt="">
								</div>
								<div class="fn-left parent_evaluate">
									<div class="name_box">
										<span class="name">周兴天</span>
										<img src="../lib/images/xing0.png" alt="">
										<span class="fn-right time">18分钟前</span> 
									</div>
									<p>每次看都会被美到，十分震撼，也渴望自己有一天也能画出这么牛的！！我会努力的！！</p>
								</div>								
							</li>
							<li>
								<div class="fn-left parent_photo">
									<img src="../lib/images/photo1.jpg" alt="">
								</div>
								<div class="fn-left parent_evaluate">
									<div class="name_box">
										<span class="name">周兴天</span>
										<img src="../lib/images/xing1.png" alt="">
										<span class="fn-right time">18分钟前</span> 
									</div>
									<p>每次看都会被美到，十分震撼，也渴望自己有一天也能画出这么牛的！！我会努力的！！</p>
								</div>								
							</li>
							<li>
								<div class="fn-left parent_photo">
									<img src="../lib/images/photo1.jpg" alt="">
								</div>
								<div class="fn-left parent_evaluate">
									<div class="name_box">
										<span class="name">周兴天</span>
										<img src="../lib/images/xing5.png" alt="">
										<span class="fn-right time">18分钟前</span> 
									</div>
									<p>每次看都会被美到，十分震撼，也渴望自己有一天也能画出这么牛的！！我会努力的！！</p>
								</div>								
							</li>
						</ul>
					</div>
				</div>					
			</div>
			<!--// left end-->

			<!--// ps right-->
			<div class="inner_right fn-right">
				<div class="right_1">
					<div class="title">
						<h4>课程老师</h4>
					</div>

					<div class="information">
						<div class="fn-left left">
							<img src="../lib/images/photo1.jpg" alt="">
						</div>
						<div class="fn-left right">
							<h4>张与同</h4>
							<span>华师大第四附中</span>
							<span>国家特级教师</span>
						</div>
					</div>
					<p>
						杭州摄影师，艺术专业出身现在从事摄影方面的工作杭州罗浮摄影培训机构创始人和讲师擅长人像，风光，延时，商业静物摄影在LOFTER，图虫，新浪微博，站酷，POCO等网站有很高的人气和作品流传度。
					</p>
				</div>

				<div class="right_2">
					<div class="title">
						<h4>猜你需要</h4>
					</div>

					<ul class="img_title">
						<li>
							<div class="img_box">
								<img src="../lib/images/school-201.png" alt="">
							</div>
							<h4><a href="javascript:void(0)">高考语文目标满分-董腾大语文</a></h4>
							<span class="c-999">4167人在学</span>
							<span class="fn-right c-fb5">￥860.00</span>
						</li>
						<li>
							<div class="img_box">
								<img src="../lib/images/school-201.png" alt="">
							</div>
							<h4><a href="javascript:void(0)">高考语文目标满分-董腾大语文</a></h4>
							<span class="c-999">4167人在学</span>
							<span class="fn-right c-fb5">￥860.00</span>
						</li>
						<li>
							<div class="img_box">
								<img src="../lib/images/school-201.png" alt="">
							</div>
							<h4><a href="javascript:void(0)">高考语文目标满分-董腾大语文</a></h4>
							<span class="c-999">4167人在学</span>
							<span class="fn-right c-fb5">￥860.00</span>
						</li>
						<li>
							<div class="img_box">
								<img src="../lib/images/school-201.png" alt="">
							</div>
							<h4><a href="javascript:void(0)">高考语文目标满分-董腾大语文</a></h4>
							<span class="c-999">4167人在学</span>
							<span class="fn-right c-fb5">￥860.00</span>
						</li>
					</ul>
					
				</div>

				<div class="right_3">
					<div class="title">
						<h4><span class="c-fb5">1684</span>人也在学习该课程</h4>
					</div>
					<ul class="ul_photo">
						<li class="first">
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li>
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li>
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li class="first">
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li>
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li>
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li class="first">
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li>
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
						<li>
							<img src="../lib/images/photo1.jpg" alt="">
							<h4>秀丫头</h4>
						</li>
					</ul>	
				</div>

			</div>
			<!--// right end-->
		</div>
	</div>
	<!--// box end-->
</body>
</html>