<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>价格表</title>
	<link rel="stylesheet" href="../lib/css/school-list.scss">
	<script src="../lib/compontent/jquery/jquery-1.11.3.js"></script>
	<script src="../lib/compontent/jquery/placeholders.js"></script>
	<script src="../lib/js/ie8_function.js"></script>
</head>
<body>
	<!--头部-->
	<div class="school-top">
		<div class="school-inner">
			<div class="fn-left left">
				<a class="first" href="javascript:void(0)">
					<i class="icon-fontphone iconfont"></i>
					<span>免费热线 : 4000 939 775</span>
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontwenxi iconfont"></i>
					<span>微信</span>
					<img src="../lib/images/font-right.png" alt="">
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontxinxi iconfont"></i>
					<span>在线咨询</span>
				</a>
			</div>
			<div class="fn-right right">
				<a href="#">
					<i class="iconfont icon-fontcurriculum"></i>
					<span>课程管理</span>
				</a>
				<a href="#">

					<i class="iconfont icon-fontorder"></i>
					<span>订单管理</span>
				</a>
				<a class="xinxi" href="#">
					<i class="iconfont icon-fontnews"></i>
					<span>消息</span><span class="red">(12)</span>
				</a>

				<div class="login_register ">
					<a class="" href="#">登录</a>
					<span class="shu">|</span>
					<a  id="school-register" href="#">注册</a>					
				</div>

				<div class="my_logon fn-hide" href="javascript:void(0)">
					<img src="../lib/images/photo1.jpg" alt="">
					<span id="id_name">王小彭sda</span>					
					<i class="iconfont icon-fontbottom i1"></i>
					<i class="iconfont icon-xia i2"></i>
					<ul class="my_list ">
						<li><a href="javascript:void(0)"><span class="icon-fintinformation iconfont">&nbsp;&nbsp;</span>个人资料</a></li>
						<li><a href="javascript:void(0)"><span class="iconfont icon-modify">&nbsp;&nbsp;</span>
							修改密码</a>
						</li>
						<li>
						<a href="javascript:void(0)"><span class="iconfont icon-guanbi">&nbsp;&nbsp;</span>退出登录 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="school-header-box">
		<div class="school-header">
			<div class="fn-left left">
				
			</div>
			<div class="fn-right right">
				<a href="javascript:void(0)">首页</a>
				<a class="school-nav-index" href="javascript:void(0)">在线1对1</a>
				<a href="javascript:void(0)">在线小班课</a>
				<a href="javascript:void(0)">优思优势</a>
				<a href="javascript:void(0)">授课系统下载</a>
			</div>
		</div>
	</div>
	<!--//头部end -->

	<!--//inner -->
	<div class="school-list-box">
		<div class="nav_igation">
			当前位置 : 
			<a href="javascript:void(0)">选课中心</a>
			>
			<span>人教版</span>
		</div>
		<div class="class_">
			<ul class="fn-left class_name">
				<li>年级</li>
				<li>学科</li>
				<li>特色</li>
				<li>班课类型</li>
				<li>教材版本</li>
			</ul>
			<ul class=" fn-left class_class">
				<li>
					<a class="index" href="javascript:void(0)">全部</a>
					<a href="javascript:void(0)">高三</a>
					<a href="javascript:void(0)">高二</a>
					<a href="javascript:void(0)">高一</a>
					<a href="javascript:void(0)">初三</a>
					<a href="javascript:void(0)">初二</a>
					<a href="javascript:void(0)">初一</a>
					<a href="javascript:void(0)">六年级</a>
					<a href="javascript:void(0)">五年级</a>
					<a href="javascript:void(0)">四年级</a>
					<a href="javascript:void(0)">三年级</a>
					<a href="javascript:void(0)">二年级</a>
					<a href="javascript:void(0)">一年级</a>
				</li>
				<li>
					<a class="index" href="javascript:void(0)">全部</a>
					<a href="javascript:void(0)">数学</a>
					<a href="javascript:void(0)">英语</a>
					<a href="javascript:void(0)">语文</a>
					<a href="javascript:void(0)">物理</a>
					<a href="javascript:void(0)">化学</a>
					<a href="javascript:void(0)">生物</a>
					<a href="javascript:void(0)">地理</a>
					<a href="javascript:void(0)">历史</a>
					<a href="javascript:void(0)">政治</a> 
				</li>
				<li>
					<a class="index" href="javascript:void(0)">不限</a>
					<a href="javascript:void(0)">出国考试</a>
					<a href="javascript:void(0)">小学奥数</a>
					<a href="javascript:void(0)">幼升小面试</a>
					<a href="javascript:void(0)">小升初</a>
					<a href="javascript:void(0)">初升高</a>
					<a href="javascript:void(0)">高考</a> 
				</li>
				<li>
					<a class="index" href="javascript:void(0)">不限</a>
					<a href="javascript:void(0)">精英1对1</a>
					<a href="javascript:void(0)">深度1对3</a>
					<a href="javascript:void(0)">优辅小班课</a>
					<a href="javascript:void(0)">互动大班课</a>
					<a href="javascript:void(0)">超级直播课</a>
					<a href="javascript:void(0)">趣味微课</a>
					<a href="javascript:void(0)">自制课程</a>  
				</li>
				<li class="last">
					<a class="index" href="javascript:void(0)">不限</a>
					<a href="javascript:void(0)">人教版</a>
					<a href="javascript:void(0)">沪教版</a>
					<a href="javascript:void(0)">苏教版</a>
					<a href="javascript:void(0)">鲁教版</a>  					
				</li>
			</ul>
		</div>

		<div class="course_screen">
			<div class="fn-left left">
				<a class="index" href="javascript:void(0)">综合排序</a>
				<a href="javascript:void(0)">综合排序</a>
				<a href="javascript:void(0)">销售优先</a>
				<a href="javascript:void(0)">人气最高</a>
				<a href="javascript:void(0)">价格最低</a>
				<a href="javascript:void(0)">价格最高</a>
			</div>
			<div class="fn-right right">
				<div class="study_search">
					<span class="iconfont icon-fangdajing"></span>
					<input type="text" placeholder="想学什么?">
				</div>
				<div class="btn_search">
					搜索
				</div>
			</div>
		</div>
		

		<div class="price_list">
			<div class="fn-left left_photo">
				<img src="../lib/images/school-list1.png" alt="">
			</div>
			<ul class="fn-left price_right">
				<li>
					<div class="one">
						<h4>
							<span>【沪教版】</span>高三数学一轮复习经典知识讲解(共12节)
						</h4>
					</div>
					<div class="two">
						<a href="javascript:void(0)">名师答疑</a>
						<a href="javascript:void(0)">全程监督</a>
						<a href="javascript:void(0)">作业批改</a>
						<a href="javascript:void(0)">无理由退款</a>
					</div>
					<a class="last" href="javascript:void(0)">￥860.00</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-0d7">&nbsp;优思小班课</span>
						<span class="id_">ID : TS2489064</span>
					</div>

					<div class="grade_objoct">
						<span class="c-blod">对象 : </span>
						<span>高三 成绩中等</span>
					</div>
					<div class="two">
						<span class="c-blod">教研 : </span>
						<span>张与同</span>
						<span>北京四中</span>
						<span>国家特级教师</span>
					</div>
					<a href="javascript:void(0)" class="last1">原始1080元</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-blod">&nbsp;人数 : </span>
						最多12人,已报名<span>6</span>人
					</div>
					<div class="time">
						<span  class="c-blod">开课 :</span>
						2016年6月20日开始,每周六、周日下午2:00-5:00 <span class="iconfont icon-bottom"></span>
					</div>
					<a href="javascript:void(0)" class="see_details">查看详情</a>
				</li>
			</ul>
		</div>

		<div class="price_list">
			<div class="fn-left left_photo">
				<img src="../lib/images/school-list1.png" alt="">
			</div>
			<ul class="fn-left price_right">
				<li>
					<div class="one">
						<h4>
							<span>【沪教版】</span>高三数学一轮复习经典知识讲解(共12节)
						</h4>
					</div>
					<div class="two">
						<a href="javascript:void(0)">名师答疑</a>
						<a href="javascript:void(0)">全程监督</a>
						<a href="javascript:void(0)">作业批改</a>
						<a href="javascript:void(0)">无理由退款</a>
					</div>
					<a class="last" href="javascript:void(0)">￥860.00</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-0d7">&nbsp;优思小班课</span>
						<span class="id_">ID : TS2489064</span>
					</div>

					<div class="grade_objoct">
						<span class="c-blod">对象 : </span>
						<span>高三 成绩中等</span>
					</div>
					<div class="two">
						<span class="c-blod">教研 : </span>
						<span>张与同</span>
						<span>北京四中</span>
						<span>国家特级教师</span>
					</div>
					<a href="javascript:void(0)" class="last1">原始1080元</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-blod">&nbsp;人数 : </span>
						最多12人,已报名<span>6</span>人
					</div>
					<div class="time">
						<span  class="c-blod">开课 :</span>
						2016年6月20日开始,每周六、周日下午2:00-5:00 <span class="iconfont icon-bottom"></span>
					</div>
					<a href="javascript:void(0)" class="see_details">查看详情</a>
				</li>
			</ul>
		</div>

				<div class="price_list">
			<div class="fn-left left_photo">
				<img src="../lib/images/school-list1.png" alt="">
			</div>
			<ul class="fn-left price_right">
				<li>
					<div class="one">
						<h4>
							<span>【沪教版】</span>高三数学一轮复习经典知识讲解(共12节)
						</h4>
					</div>
					<div class="two">
						<a href="javascript:void(0)">名师答疑</a>
						<a href="javascript:void(0)">全程监督</a>
						<a href="javascript:void(0)">作业批改</a>
						<a href="javascript:void(0)">无理由退款</a>
					</div>
					<a class="last" href="javascript:void(0)">￥860.00</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-0d7">&nbsp;优思小班课</span>
						<span class="id_">ID : TS2489064</span>
					</div>

					<div class="grade_objoct">
						<span class="c-blod">对象 : </span>
						<span>高三 成绩中等</span>
					</div>
					<div class="two">
						<span class="c-blod">教研 : </span>
						<span>张与同</span>
						<span>北京四中</span>
						<span>国家特级教师</span>
					</div>
					<a href="javascript:void(0)" class="last1">原始1080元</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-blod">&nbsp;人数 : </span>
						最多12人,已报名<span>6</span>人
					</div>
					<div class="time">
						<span  class="c-blod">开课 :</span>
						2016年6月20日开始,每周六、周日下午2:00-5:00 <span class="iconfont icon-bottom"></span>
					</div>
					<a href="javascript:void(0)" class="see_details">查看详情</a>
				</li>
			</ul>
		</div>


		<div class="price_list">
			<div class="fn-left left_photo">
				<img src="../lib/images/school-list1.png" alt="">
			</div>
			<ul class="fn-left price_right">
				<li>
					<div class="one">
						<h4>
							<span>【沪教版】</span>高三数学一轮复习经典知识讲解(共12节)
						</h4>
					</div>
					<div class="two">
						<a href="javascript:void(0)">名师答疑</a>
						<a href="javascript:void(0)">全程监督</a>
						<a href="javascript:void(0)">作业批改</a>
						<a href="javascript:void(0)">无理由退款</a>
					</div>
					<a class="last" href="javascript:void(0)">￥860.00</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-0d7">&nbsp;优思小班课</span>
						<span class="id_">ID : TS2489064</span>
					</div>

					<div class="grade_objoct">
						<span class="c-blod">对象 : </span>
						<span>高三 成绩中等</span>
					</div>
					<div class="two">
						<span class="c-blod">教研 : </span>
						<span>张与同</span>
						<span>北京四中</span>
						<span>国家特级教师</span>
					</div>
					<a href="javascript:void(0)" class="last1">原始1080元</a>
				</li>
				<li>
					<div class="school_small">
						<span class="c-blod">&nbsp;人数 : </span>
						最多12人,已报名<span>6</span>人
					</div>
					<div class="time">
						<span  class="c-blod">开课 :</span>
						2016年6月20日开始,每周六、周日下午2:00-5:00 <span class="iconfont icon-bottom"></span>
					</div>
					<a href="javascript:void(0)" class="see_details">查看详情</a>
				</li>
			</ul>
		</div>

		<div class="page">
			<a class="index" href="javascript">1</a>
			<a href="javascript">2</a>
			<a href="javascript">3</a>
			<a href="javascript">4</a>
			<a href="javascript">5</a>
			<a class="next" href="javascript">></a>
			<a class="last" href="javascript">尾</a>
		</div>
	</div>
	<!--//inner -->
	<!--//footer start-->
	<div class="school-footer-box">
		<div class="school-footer">
			<ul class="fn-left left">
				<li> 
					<a href="javascript:void(0)"><span>帮助中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					购买指南</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					支付方式</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务保障</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>教员中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					申请教员</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					教员登录</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务条款</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>媒体中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新闻动态</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方视频</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					图片资源</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关于公司</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					公司简介</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					加入我们</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					联系我们</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关注我们</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新浪微博</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方微信</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方贴吧</a>
				</li>
			</ul>
			<div class="fn-right right">
				<h4 class="icon-fontphone1 iconfont"></h4>
				<p>400-619-0909</p>
				<span>周一至周日:09:00-22:00</span>
			</div>
		</div>
	</div>
	<div class="school-sequence">
		<a href="javascript:void(0)">优思网校</a>
	<span>Copyright ©2015-2016 优思教育版权所有(沪|CP备14041652号-1)</span>
	</div>
	
	<!--//footer end-->	
</body>
</html>