<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
	<title>优思网校</title>
	<link rel="stylesheet" href="../lib/css/yousi-on-line.scss">
	<script src="../lib/compontent/jquery/jquery-1.11.3.js"></script>
	<script src="../lib/compontent/jquery/placeholders.js"></script>
	<script src="../lib/js/ie8_function.js"></script>
	<script src="../lib/js/yousi-on-line.js"></script>	
</head>
<body>
	<!--头部-->
	<div class="school-top">
		<div class="school-inner">
			<div class="fn-left left">
				<a class="first" href="javascript:void(0)">
					<i class="icon-fontphone iconfont"></i>
					<span>免费热线 : 4000 939 775</span>
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontwenxi iconfont"></i>
					<span>微信</span>
					<img src="../lib/images/font-right.png" alt="">
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontxinxi iconfont"></i>
					<span>在线咨询</span>
				</a>
			</div>
			<div class="fn-right right">
				<a href="#">
					<i class="iconfont icon-fontcurriculum"></i>
					<span>课程管理</span>
				</a>
				<a href="#">

					<i class="iconfont icon-fontorder"></i>
					<span>订单管理</span>
				</a>
				<a class="xinxi" href="#">
					<i class="iconfont icon-fontnews"></i>
					<span>消息</span><span class="red">(12)</span>
				</a>

				<div class="login_register ">
					<a class="" href="#">登录</a>
					<span class="shu">|</span>
					<a  id="school-register" href="#">注册</a>					
				</div>

				<div class="my_logon fn-hide" href="javascript:void(0)">
					<img src="../lib/images/photo1.jpg" alt="">
					<span id="id_name">王小彭sda</span>					
					<i class="iconfont icon-fontbottom i1"></i>
					<i class="iconfont icon-xia i2"></i>
					<ul class="my_list ">
						<li><a href="javascript:void(0)"><span class="icon-fintinformation iconfont">&nbsp;&nbsp;</span>个人资料</a></li>
						<li><a href="javascript:void(0)"><span class="iconfont icon-modify">&nbsp;&nbsp;</span>
							修改密码</a>
						</li>
						<li>
						<a href="javascript:void(0)"><span class="iconfont icon-guanbi">&nbsp;&nbsp;</span>退出登录 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="school-header-box">
		<div class="school-header">
			<div class="fn-left left">
				
			</div>
			<div class="fn-right right">
				<a href="javascript:void(0)">首页</a>
				<a class="school-nav-index" href="javascript:void(0)">在线1对1</a>
				<a href="javascript:void(0)">在线小班课</a>
				<a href="javascript:void(0)">优思优势</a>
				<a href="javascript:void(0)">授课系统下载</a>
			</div>
		</div>
	</div>
	<!--//头部end -->

	<!--// 足不出户 -->
	<div class="school-modular-box-1">
		<div class="school-modular1">
			<a class="a-left a-btn-index" href="javascript:void(0)">预约试听</a>
			<a class="a-right" href="javascript:void(0)">学习咨询</a>
		</div>		
	</div>
	<!--//  end-->

	<!--// 突破教育资源地限制 -->
	<div class="school-modular-box-2">
		<div class="school-modular2">
			<a class="a-left a-btn-index" href="javascript:void(0)">预约试听</a>
			<a class="a-right" href="javascript:void(0)">学习咨询</a>
		</div>		
	</div>
	<!--//  end-->

	<!--// 在家免费试听 -->
	<div class="school-modular-box-3">
		<div class="school-modular3">
		<h4>在家免费试听</h4>
		<p>满意后再报课，不满意全额退款，公开透明有保障</p>
		<ul class="school-list-1">
			<li>
				<img src="../lib/images/school-li-1.png" alt="">
				<h5>在家免费试听</h5>
				<p>只需要登录注册并下载客户端，优思网校会帮您立即匹配最适合您的在线老师免费试听。</p>
				<a href="javascript:void(0)">了解详情</a>
			</li>
			<li>
				<img src="../lib/images/school-li-2.png" alt="">
				<h5>先试听后付款</h5>
				<p>无需担心在线授课服务保障问题，选择您需要的课程免费试听,再决定是否购买付款。</p>
				<a href="javascript:void(0)">了解详情</a>
			</li>
			<li>
				<img src="../lib/images/school-li-3.png" alt="">
				<h5>不满意随时退</h5>
				<p>无需担心在线授课服务保障问题，选择您需要的课程免费试听,再决定是否购买付款。</p>
				<a href="javascript:void(0)">了解详情</a>
			</li>
			<li>
				<img src="../lib/images/school-li-4.png" alt="">
				<h5>在家免费试听</h5>
				<p>家长可以实时旁听孩子的课堂，及时了解孩子的学习状况。</p>
				<a href="javascript:void(0)">了解详情</a>
			</li>
			<li>
				<img src="../lib/images/school-li-5.png" alt="">
				<h5>在家免费试听</h5>
				<p>优思网校校会定期给孩子整理汇报当前的学习状况,并针对性的给出相应解决方案。</p>
				<a href="javascript:void(0)">了解详情</a>
			</li>
		</ul>
		</div>		
	</div>
	<!--//  end-->

	<!--// 四对一的贴心服务 -->
	<div class="school-modular-box-4">
		<div class="school-modular4">
			<a class="a-left a-btn-index" href="javascript:void(0)">预约试听</a>
		</div>		
	</div>
	<!--//  end-->
	
	<!--// 教学过程公开透明 -->
	<div class="school-modular-box-5">
		<div class="bg">
			<div class="school-modular5">
				<h4>教学过程公开透明,<span>在线学习有效果</span></h4>
				<p>贴心服务，学习过程全透明，效果看得见</p>	
				<div class="center">
					<div class="left fn-left">
						<h6>班主任可进入教师监课，了解课堂状况</h6>
						<h6>和学生的状况，考核老师的授课质量</h6>
					</div>
					<div class="right fn-right">
						<h6>家长随时旁听,</h6>
						<h6>随时了解孩子的课堂学习情况</h6>
					</div>
				</div>
				<ul class="school-list-2">
					<li class="first">
						<h5>及时反馈</h5>
						<p>课后二十分钟内向家长反馈孩子的学习情况和课堂表现</p>
					</li>
					<li>
						<h5>准确调整</h5>
						<p>专业的教研团队通过课程录像，根据孩子的课堂表现和老师反馈,给孩子针对性的学习建议</p>
					</li>
					<li class="last">
						<h5>全面分析</h5>
						<p>全面记录孩子的歇息轨迹，分析孩子的薄弱点,同时关注孩子的心态变化并正确疏导</p>
					</li>
				</ul>
			</div>
		</div>		
	</div>
	<!--//  end-->

	<!--// 在家免费试听 -->
	<div class="school-modular-box-6">
		<div class="school-modular6">
			<h4>学习成绩突飞猛进</h4>
			<p>优思网校一对一学生中83%的学生成绩得到突飞猛进的提升，学习能力得到良好的训练</p>
			<div class="school-box">
				<div class="fn-left left">
					
				</div>
				<div class="fn-right right">
					<div class="school-share">					
						<div class="fn-right share">
							<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
							<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

						</div>
						<div class="fn-right share-font">
							分享到 : 
						</div>
						
					</div>

					<div class="box">
						<ul class="list">
							<li class="index">高考成绩表</li>
							<li>中考成绩表</li>
						</ul>
						<table class="">
							<tr>
								<th >优秀学员</th>
								<th >战绩</th>
								<th >学习时长</th>
							</tr>
							<tr>
								<td class="one"> 王*鹏</td>
								<td class="two">高考数学132，提高58分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 张*宁</td>
								<td class="two">高考英语128，提高34分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 王*洋</td>
								<td class="two">高考数学131，提高37分</td>
								<td class="three">48课时</td>
							</tr>
							<tr>
								<td class="one"> 刘*鹏</td>
								<td class="two">高考理综，提高74分</td>
								<td class="three">48课时</td>
							</tr>
							<tr>
								<td class="one"> 杜*露</td>
								<td class="two">高考数学124，提高25分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 李*伟</td>
								<td class="two">高考英语132，提高29分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 何芳芳</td>
								<td class="two">高考文综，提高47分</td>
								<td class="three">48课时</td>
							</tr>
						</table>
						<table class="fn-hide">
							<tr>
								<th >优秀学员</th>
								<th >战绩</th>
								<th >学习时长</th>
							</tr>
							<tr>
								<td class="one"> 李永新</td>
								<td class="two">高考数学132，提高58分</td>
								<td class="three">48课时</td>
							</tr>
							<tr>
								<td class="one"> 王晓乐</td>
								<td class="two">高考英语132，提高41分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 杨*剑</td>
								<td class="two">高考理综244，提高62分</td>
								<td class="three">48课时</td>
							</tr>
							<tr>
								<td class="one"> 王亚楠</td>
								<td class="two">高考英语，提高44分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 王*特</td>
								<td class="two">高考数学128，提高48分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 张兵伟</td>
								<td class="two">高考数学136，提高36分</td>
								<td class="three">36课时</td>
							</tr>
							<tr>
								<td class="one"> 张帅</td>
								<td class="two">高考文综220，提高31分</td>
								<td class="three">36课时</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		
		</div>		
	</div>
	<!--// end-->
		
	<!--// 99% 的家长给优思好评-->
	<div class="school-modular-box-7">
		
	</div>
	<!--//  end-->

	<!--//footer start-->
	<div class="school-footer-box">
		<div class="school-footer">
			<ul class="fn-left left">
				<li> 
					<a href="javascript:void(0)"><span>帮助中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					购买指南</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					支付方式</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务保障</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>教员中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					申请教员</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					教员登录</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					服务条款</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>媒体中心</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新闻动态</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方视频</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					图片资源</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关于公司</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					公司简介</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					加入我们</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					联系我们</a>
				</li>
				<li>
					<a href="javascript:void(0)"><span>关注我们</span></a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					新浪微博</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方微信</a>
					<a href="javascript:void(0)">
					<img src="../lib/images/school-footer-right.png" alt="">
					官方贴吧</a>
				</li>
			</ul>
			<div class="fn-right right">
				<h4 class="icon-fontphone1 iconfont"></h4>
				<p>400-619-0909</p>
				<span>周一至周日:09:00-22:00</span>
			</div>
		</div>
	</div>
	<div class="school-sequence">
		<a href="javascript:void(0)">优思网校</a>
	<span>Copyright ©2015-2016 优思教育版权所有(沪|CP备14041652号-1)</span>
	</div>
	
	<!--//footer end-->	
</body>
</html>