<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
	<title>优思网校</title>
	<link rel="stylesheet" href="../lib/css/yousi-on-line-small.scss">
	<script src="../lib/compontent/jquery/jquery-1.11.3.js"></script>
	<script src="../lib/compontent/jquery/placeholders.js"></script>
	<script src="../lib/js/ie8_function.js"></script>
</head>
<body>
	<!--头部-->
	<div class="school-top">
		<div class="school-inner">
			<div class="fn-left left">
				<a class="first" href="javascript:void(0)">
					<i class="icon-fontphone iconfont"></i>
					<span>免费热线 : 4000 939 775</span>
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontwenxi iconfont"></i>
					<span>微信</span>
					<img src="../lib/images/font-right.png" alt="">
				</a>
				<a href="javascript:void(0)">
					<i class="icon-fontxinxi iconfont"></i>
					<span>在线咨询</span>
				</a>
			</div>
			<div class="fn-right right">
				<a href="#">
					<i class="iconfont icon-fontcurriculum"></i>
					<span>课程管理</span>
				</a>
				<a href="#">

					<i class="iconfont icon-fontorder"></i>
					<span>订单管理</span>
				</a>
				<a class="xinxi" href="#">
					<i class="iconfont icon-fontnews"></i>
					<span>消息</span><span class="red">(12)</span>
				</a>

				<div class="login_register ">
					<a class="" href="#">登录</a>
					<span class="shu">|</span>
					<a  id="school-register" href="#">注册</a>					
				</div>

				<div class="my_logon fn-hide" href="javascript:void(0)">
					<img src="../lib/images/photo1.jpg" alt="">
					<span id="id_name">王小彭sda</span>					
					<i class="iconfont icon-fontbottom i1"></i>
					<i class="iconfont icon-xia i2"></i>
					<ul class="my_list ">
						<li><a href="javascript:void(0)"><span class="icon-fintinformation iconfont">&nbsp;&nbsp;</span>个人资料</a></li>
						<li><a href="javascript:void(0)"><span class="iconfont icon-modify">&nbsp;&nbsp;</span>
							修改密码</a>
						</li>
						<li>
						<a href="javascript:void(0)"><span class="iconfont icon-guanbi">&nbsp;&nbsp;</span>退出登录 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="school-header-box">
		<div class="school-header">
			<div class="fn-left left">
				
			</div>
			<div class="fn-right right">
				<a href="javascript:void(0)">首页</a>
				<a class="school-nav-index" href="javascript:void(0)">在线1对1</a>
				<a href="javascript:void(0)">在线小班课</a>
				<a href="javascript:void(0)">优思优势</a>
				<a href="javascript:void(0)">授课系统下载</a>
			</div>
		</div>
	</div>
	<!--//头部end -->

<!--// banner -->
<div class="school-box-1">
	<div class="school-inner-1">
		
	</div>
</div>	
<!--// banner end-->

<!--// 系统化学习服务 -->
<div class="school-box-2">
	<div class="school-inner-2">
		<ul class="list-2">
			<li>
				<img src="../lib/images/school-23.png" alt="">
				<p>系统化学习服务</p>
			</li>
			<li>
				<img src="../lib/images/school-21.png" alt="">
				<p>学习全程辅导</p>
			</li>
			<li>
				<img src="../lib/images/school-24.png" alt="">
				<p>24小时答疑</p>
			</li>
			<li>
				<img src="../lib/images/school-22.png" alt="">
				<p>高质量资料下载</p>
			</li>
			<li>
				<img src="../lib/images/school-25.png" alt="">
				<p>作业批改与反馈</p>
			</li>
		</ul>
	</div>
</div>

<!--// 系统化学习服务  end-->



<!--// 热门小班课-->
<div class="school-box-3">
	<div class="school-inner-3">
		<h5>热门小班课</h5>
		<ul class="list-3">
			<li>
				<img src="../lib/images/school-30.png" alt="">
				<a class="list-3-index" href="javascript:void(0)">
					文综地理-自然地理篇【高考备战】
				</a>
				<span class="num">12</span><span>/18人及报名</span>
				<span class="price fn-right">￥800.00</span>
			</li>
			<li>
				<img src="../lib/images/school-31.png" alt="">
				<a href="javascript:void(0)">
					满分攻略高考语文(18课时)
				</a>
				<span class="num">12</span><span>/18人及报名</span>
				<span class="price fn-right">￥1099.00</span>
			</li>
			<li>
				<img src="../lib/images/school-32.png" alt="">
				<a href="javascript:void(0)">
					高考语文目标满分-董腾大语文
				</a>
				<span class="num">4</span><span>/16人及报名</span>
				<span class="price fn-right">￥860.00</span>
			</li>
			<li>
				<img src="../lib/images/school-33.png" alt="">
				<a href="javascript:void(0)">
					文综地理-自然地理篇【高考备战】
				</a>
				<span class="num">17</span><span>/18人及报名</span>
				<span class="price fn-right">￥800.00</span>
			</li>
			<li>
				<img src="../lib/images/school-34.png" alt="">
				<a href="javascript:void(0)">
					文综地理-自然地理篇【高考备战】
				</a>
				<span class="num">17</span><span>/18人及报名</span>
				<span class="price fn-right">￥800.00</span>
			</li>
			<li>
				<img src="../lib/images/school-35.png" alt="">
				<a href="javascript:void(0)">
					满分攻略高考语文之现代文阅读
				</a>
				<span class="num">7</span><span>/16人及报名</span>
				<span class="price fn-right">￥800.00</span>
			</li>
			<li>
				<img src="../lib/images/school-36.png" alt="">
				<a href="javascript:void(0)">
					高考语文目标满分-董腾大语文
				</a>
				<span class="num">8</span><span>/12人及报名</span>
				<span class="price fn-right">￥860.00</span>
			</li>
			<li>
				<img src="../lib/images/school-37.png" alt="">
				<a href="javascript:void(0)">
					文综地理-自然地理篇【高考备战】
				</a>
				<span class="num">17</span><span>/18人及报名</span>
				<span class="price fn-right">￥800.00</span>
			</li>
			<a class="school-3-btn" href="javascript:void(0)">进入选课中心</a>
		</ul>

	</div>
</div>

<!--// 热门小班课 end-->

<!--// 师资力量雄厚-->
	<div class="school-box-4">
		<div class="school-inner-4">
		<h4>师资力量雄厚</h4>
		<p>清一色985/211高校学霸，真实资料审核，严格试讲面试，严谨培训后才能上线授课</p>
		<ul class="one fn-left">
			<li class="li1">
				<img src="../lib/images/school-40.png" alt="">
			</li>
			<li class="li2">
				<img src="../lib/images/school-41.png" alt="">
			</li>
			<li class="li3">
				<img src="../lib/images/school-42.png" alt="">
			</li>
			<li class="li4">
				<img src="../lib/images/school-43.png" alt="">
			</li>
		</ul>
		<ul class="one fn-left">
			<li class="li3 li5">
				<img src="../lib/images/school-44.png" alt="">
			</li>
			<li class="li4 li5">
				<img src="../lib/images/school-45.png" alt="">
			</li>
			<li class="li1 li6">
				<img src="../lib/images/school-46.png" alt="">
			</li>
			<li class="li2 li6">
				<img src="../lib/images/school-47.png" alt="">
			</li>
		</ul>
		<ul class="one fn-left">
			
			<li class="li2 li7">
				<img src="../lib/images/school-48.png" alt="">
			</li>
			<li class="li1 li8">
				<img src="../lib/images/school-49.png" alt="">
			</li>
			<li class="li4 li7">
				<img src="../lib/images/school-49-1.png" alt="">
			</li>
			<li class="li3 li8">
				<img src="../lib/images/school-49-2.png" alt="">
			</li>
		</ul>
		</div>		
	</div>
	<!--// 师资力量雄厚 end -->

	<!--// 拥有专业的教辅教研开发团队 -->

	<div class="school-box-11">
		<div class="school-inner-11">
			<h4>拥有专业的教辅教研研发团队</h4>
			<div class="xian"></div>
			<p>高薪聘请清华、北大等top10名校老师研发优思课程，教研团队具有多年教研和教学经验，课程具有专业性和权威性，与学校里的课程能很好契合。</p>
			<h5>优思教研人员必须满足:</h5>
			<h6>1.在本科学科有5年以上教研经验的老师</h6>
			<h6>2.有3年以上的教学经验</h6>
			<a class="btn-a" href="javascript:void(0)">
				进入优思教辅
				<span class="iconfont icon-fontright"></span>
			</a>
			<ul class="list-11">
				<li>
					<img src="../lib/images/school-10.png" alt="">
					<a href="javascript:void(0)">
						12728套
					</a>
					<span>最新全国各地试卷</span>
				</li>
				<li>
					<img src="../lib/images/school-11.png" alt="">
					<a href="javascript:void(0)">
						3325套
					</a>
					<span>精品教学课件</span>
				</li>
				<li>
					<img src="../lib/images/school-12.png" alt="">
					<a href="javascript:void(0)">
						400万套
					</a>
					<span>知识点优质题库</span>
				</li>
				<li>
					<img src="../lib/images/school-13.png" alt="">
					<a href="javascript:void(0)">
						152名
					</a>
					<span>各省市重点中学名师</span>
				</li>
				<li>
					<img src="../lib/images/school-14.png" alt="">
					<a href="javascript:void(0)">
						78个
					</a>
					<span>知名连锁机构</span>
				</li>
			</ul>
		</div>
	</div>

	<!--// 拥有专业的教辅教研开发团队  end-->
	
	<div class="school-box-5">
		<div class="school-inner-5">
			<img src="../lib/images/school-60.jpg" alt="">
		</div>
	</div>
	
		<!--// 教学过程公开透明 -->
	<div class="school-modular-box-5">
		<div class="bg">
			<div class="school-modular5">
				<h4>教学过程公开透明,<span>在线学习有效果</span></h4>
				<p>贴心服务，学习过程全透明，效果看得见</p>	
				<div class="center">
					<div class="left fn-left">
						<h6>班主任可进入教师监课，了解课堂状况</h6>
						<h6>和学生的状况，考核老师的授课质量</h6>
					</div>
					<div class="right fn-right">
						<h6>家长随时旁听,</h6>
						<h6>随时了解孩子的课堂学习情况</h6>
					</div>
				</div>
				<ul class="school-list-2">
					<li class="first">
						<h5>及时反馈</h5>
						<p>课后二十分钟内向家长反馈孩子的学习情况和课堂表现</p>
					</li>
					<li>
						<h5>准确调整</h5>
						<p>专业的教研团队通过课程录像，根据孩子的课堂表现和老师反馈,给孩子针对性的学习建议</p>
					</li>
					<li class="last">
						<h5>全面分析</h5>
						<p>全面记录孩子的歇息轨迹，分析孩子的薄弱点,同时关注孩子的心态变化并正确疏导</p>
					</li>
				</ul>
			</div>
		</div>		
	</div>


<!--//footer start-->
<div class="school-footer-box">
	<div class="school-footer">
		<ul class="fn-left left">
			<li> 
				<a href="javascript:void(0)"><span>帮助中心</span></a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				购买指南</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				支付方式</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				服务保障</a>
			</li>
			<li>
				<a href="javascript:void(0)"><span>教员中心</span></a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				申请教员</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				教员登录</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				服务条款</a>
			</li>
			<li>
				<a href="javascript:void(0)"><span>媒体中心</span></a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				新闻动态</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				官方视频</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				图片资源</a>
			</li>
			<li>
				<a href="javascript:void(0)"><span>关于公司</span></a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				公司简介</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				加入我们</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				联系我们</a>
			</li>
			<li>
				<a href="javascript:void(0)"><span>关注我们</span></a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				新浪微博</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				官方微信</a>
				<a href="javascript:void(0)">
				<img src="../lib/images/school-footer-right.png" alt="">
				官方贴吧</a>
			</li>
		</ul>
		<div class="fn-right right">
			<h4 class="icon-fontphone1 iconfont"></h4>
			<p>400-619-0909</p>
			<span>周一至周日:09:00-22:00</span>
		</div>
	</div>
</div>
<div class="school-sequence">
	<a href="javascript:void(0)">优思网校</a>
<span>Copyright ©2015-2016 优思教育版权所有(沪|CP备14041652号-1)</span>
</div>
	
	<!--//footer end-->
</body>
</html>