
// 弹框
.mask{
  position: fixed;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  background: #000000;
  opacity: 0.6;
  z-index: 99999;
}
.ex8-appointment{
  position: fixed;
  width:380px;
  height: 310px;
  background: url("../img/jf-i-logo.png")no-repeat center;
  z-index: 999999;
}
.jf-login{
  width:240px;
  height: 230px;
  margin: 80px auto;
}
.jf-login a{
  display: block;
  color: #66aaeb;
  margin-top: 10px;
}
.jf-login input{
  width:100%;
  height: 40px;
  border:0;
  outline: none;
  background: #f5f5f5;
  margin-top: 8px;
  line-height: 40px;
}
input[name=button]{
  background: #66aaeb;
  color: #f7fafd;
}

.ex8-inputbox{
  width:14px;
  height: 14px;
  background: url("../img/jf-i-close.png") no-repeat center;
  position: absolute;
  top:70px;
  right: 20px;
  cursor: pointer;
}
.errorMsg{
  color: #333333;
}

//意见反馈
.jf-opinion{
  width:30px;
  height: 94px;
  position: fixed;
  top:50%;
  right:-6px;
  background: #939393;
  padding: 6px;
  color: #254c6a;
  border-radius: 6px;
  cursor: pointer;
}

.jf-feedback{
  position: fixed;
  top:0;
  left:0;
  z-index:999999;
  width:380px;
  height: 268px;
  background: #ffffff;
}
.jf-feedback-login{
  width:340px;
  height: 230px;
  margin: 20px auto;
}
.jf-feedback-login textarea{
  width:336px;
  height: 122px;
  border:0;
  outline: none;
  background: #f5f5f5;
  color: #a6a6a6;
  resize: none;
}
.jf-feedback-login #phone{
  width:100%;
  height: 28px;
  background: #f5f5f5;
  border:0;
  outline: none;
  margin-top: 10px;
  color: #A9A9A9;
}
.jf-feedback-login .jf-code{
  width:100%;
  height: 30px;
  margin-top: 6px;
}
.jf-feedback-login .jf-code #code{
  display: block;
  width:64px;
  height: 28px;
  background: #f5f5f5;
  border:1px solid #e8e8e8;
  outline: none;
  float: left;
  color: #A9A9A9;
}
.jf-feedback-login .jf-code img{
  display: block;
  float: left;
  width:64px;
  height: 28px;
  margin-left: 20px;
  border:1px solid #e8e8e8;
}
.jf-feedback-login .jf-code .left,.jf-login .jf-code .right{
  width:56px;
  height: 26px;
  outline: none;
}
.jf-feedback-login .jf-code .left{
  margin-right: 10px;
  color: #505050;
  border:1px solid #e8e8e8;
}
.jf-feedback-login .jf-code .right{
  color: #ffeae9;
  background: #ff3934;
  border:0;
}