<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/css/reset.css">
    <link rel="stylesheet" href="../lib/css/gold-teacher.css">
</head>
<body>
    <div class="yousi-banner">
        <img src="../lib/images/yousi-banner1.png" alt="">
    </div>
    <div class="yousi-banner">
        <img src="../lib/images/yousi-banner2.png" alt="">
    </div>
    <!--  //暑假  -->
    <div class="yousi-summer-vacation">
        <div class="yousi-summer-vacation-edition">
            <h4><span>沪</span>教版暑假衔接课课程方案</h4>
        </div>
        <div class="yousi-summer-vacation-option">
            <ul class="yousi-summer-vacation-option-grade">
                <li data-grade="0" class="yousi-white">小升初</li>
                <li data-grade="1">新初二</li>
                <li data-grade="2">新初三</li>
                <li data-grade="3">初升高</li>
                <li data-grade="4">新高二</li>
                <li data-grade="5">高考一轮</li>
            </ul>
            <ul class="yousi-summer-vacation-option-subject">
                <li><a class="yousi-btn-subjects" data-subject="0" href="javascript:void(0)">数学</a></li>
                <li><a data-subject="1" href="javascript:void(0)">物理</a></li>
                <li><a data-subject="2" href="javascript:void(0)">化学</a></li>
            </ul>
            <!--//  box  -->
            <div class="yousi-box">
                <div class="yousi-consultation">
                    <a class="btn-close" href="#"></a>
                    <a class="btn-consultation" href="#">立即预约</a>
                </div>
                <div class="yousi-1v1-table">
                    <h4>优思上门1对1暑假课程安排</h4>
                    <table class="jiaofu-1v1">
                        <tr class="jiaofu-tr-1">
                            <td width="20%">课程计划</td>
                            <td width="20%">授课时长</td>
                            <td width="60%">课程内容</td>
                        </tr>
                    </table>
                    <table class="jiaofu-1v1 jiaofu-one">

                    </table>
              <!--       <h5>阶段性测试（一）试题</h5>
              <table class="jiaofu-1v1 jiaofu-two">
              
              </table>
              <h5>阶段性测试（二）试题</h5>
              <table class="jiaofu-1v1 jiaofu-three">
              
              </table> -->
                </div>
                <p class="jiaofu-link"><span>另有暑假个性化1对1复习课程、网络小班课程、机构小班课程,详情 <a class="jiaofu-click-advisory" href="#">点击咨询</a></span></p>
            </div>
            <!--//  box  end -->
        </div>
    </div>
    <!--  //暑假 end  -->
    <!--// 百所名校  -->
    <div class="jiaofu-school">
        <img src="../lib/images/yousi-school.png" alt="">
    </div>
    <div class="jiaofu-school">
        <img src="../lib/images/yousi-wenxin.png" alt="">
    </div>
    <div class="jiaofu-smoll-course">
        <ul class="jiaofu-list">
            <li>
                <div class="jiaofu-imgs">
                    <img src="../lib/images/yousi-meizhi.png" alt="">
                </div>
                <div class="jiaofu-describe">
                    <h6>最强提分王</h6>
                    <p>王鹏.上海交大14级研究生</p>
                </div>
            </li>
            <li>
                <div class="jiaofu-imgs">
                    <img src="../lib/images/yousi-meizhi.png" alt="">
                </div>
                <div class="jiaofu-describe">
                    <h6>最强提分王</h6>
                    <p>王鹏.上海交大14级研究生</p>
                </div>
            </li>
            <li>
                <div class="jiaofu-imgs">
                    <img src="../lib/images/yousi-meizhi.png" alt="">
                </div>
                <div class="jiaofu-describe">
                    <h6>最强提分王</h6>
                    <p>王鹏.上海交大14级研究生</p>
                </div>
            </li>
            <li>
                <div class="jiaofu-imgs">
                    <img src="../lib/images/yousi-meizhi.png" alt="">
                </div>
                <div class="jiaofu-describe">
                    <h6>最强提分王</h6>
                    <p>王鹏.上海交大14级研究生</p>
                </div>
            </li>
            <li>
                <div class="jiaofu-imgs">
                    <img src="../lib/images/yousi-meizhi.png" alt="">
                </div>
                <div class="jiaofu-describe">
                    <h6>最强提分王</h6>
                    <p>王鹏.上海交大14级研究生</p>
                </div>
            </li>
        </ul>
    </div>

<!--//  右侧固定定位  -->
    <ul class="yousi-fixed">
        <li class="one"><a href="#">新学期冲刺课</a></li>
        <li class=""><a href="#">上门1对1预讲课</a></li>
        <li class="bg_"><a href="#">上门1对1巩固课</a></li>
        <li class="bg_"><a href="#">机构预讲小班课</a></li>
        <li class="two"><a href="#"><p>网络班课特价最低49元/节</p></a></li>
        <li class="three">
            <img src="../lib/images/yousi-zixun.png" alt="">
        </li>
        <li class="four">
            <a href="#">五月特价周 5.7-5.15</a>
        </li>
    </ul>
<!--//  右侧固定定位  end  -->
    <script src="../lib/compontent/jquery/jquery-1.11.3.js"></script>
    <script src="../lib/js/data.js"></script>
    <script src="../lib/js/gold-teacher.js"></script>
</body>
</html>