<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
	<title>Document</title>
	<link rel="stylesheet" href="../lib/css/9.9.scss">
	<script src="../lib/compontent/jquery-1.11.3.js"></script>
	<script src="../lib/js/9.9.js"></script>
</head>
<body>
	
	<!--// top start -->
	<div class="summer-top">
		<img src="../lib/images/9.9-1_01.jpg" alt="">
		<div class="summer-top-title">
			<div class="fn-left">
				<img src="../lib/images/9.9-logo.png" alt="">
			</div>
			<div class="fn-right right">
				<i class="iconfont icon-fontphone"></i>
				<span>4000 980 950</span>
			</div>
		</div>
	</div>
	<!--// top end -->
		
	<!--// 详细规则 start -->
	<div class="summer-banner-1">
		<ul class="banner-1-ullist">
			<li class="first bg1">
				<h4>1人报名</h4>
				<p>9.9元/课时</p>
				<div class="position-icon">
					<img src="../lib/images/9.9-icon-1.png" alt="">
				</div>
			</li>
			<li class="bg2">
				<h4>2人报名</h4>
				<p>8.8元/课时</p>
				<div class="position-icon">
					<img src="../lib/images/9.9-icon-2.png" alt="">
				</div>
			</li>
			<li class="bg3">
				<h4>3人报名</h4>
				<p>6.6元/课时</p>
				<div class="position-icon">
					<img src="../lib/images/9.9-icon-3.png" alt="">
				</div>
			</li>
		</ul>
	</div>
	<!--// 详细规则 end -->

	<!--//  特别说明 start-->
	<div class="summer-banner-2">
		<div class="banner-2-inner">
			<p>
				单人报双课按双人同行价;单人若已报名多科，朋友均享最低价，也就是说，如果您报了三科，你的朋友就算只报一科，也可享受最低价6.6元/课时
			</p>
		</div>
	</div>
	<!--//  特别说明 end-->

	<!--//  上课方式 start-->
	<div class="summer-banner-3">
		<div class="banner-3-inner">
			<p>
				<span>优思</span> 采用自主研发的在线授课系统，可读取PPT、分享习题、答题卡互动、录制课程、家长监课等，全国已经有超过50家机构使用我们的授课系统提供网络授课服务。所以家长们大可不必担心在线授课效果不佳，更不用担心孩子一个人在外上课的安全性，绝对又好用又省时哦！
			</p>
			<div class="banner-3-btn as_school_appointment">
				<img src="../lib/images/9.9-sign-up.png" alt="">
			</div>
		</div>
	</div>
	<!--//  上课方式 end-->

	<!--// 课程安排 start -->
	<div class="summer-banner-4">
		<div class="banner-4-inner">
			<ul class="banner-4-ultitle">
				<li class="index first">初一</li>
				<li>初二</li>
				<li>初三</li>
				<li>高一</li>
				<li>高二</li>
				<li>高三</li>
			</ul>
			<div class="banner-4-box">
				<img src="../lib/images/9.9-4-banner0.png" alt="">
			</div>

			<div class="banner-5-bottom">
				<p>
					<span class="first">上课时间：7月25日至8月19日 共四周</span>
					<span>上课频率：每周3次课，共12次课，每次2课时，共24课时</span>
					<span>课程长度：24课时，45分钟/课时</span>
				</p>
			</div>
		</div>
	</div>
	<!--// 课程安排 end -->

	<!-- // 上课老师 start -->
	<div class="summer-teachers-lists-box">

		
		<div class="summer-teachers-lists-btn-box">
			<div class=" btn-teachers-6 btn-left-6 bg1">
				
			</div>
			<div class=" btn-teachers-6 btn-right-6 bg3" data-num="1">
				
			</div>	
			<div class="summer-teachers-lists-b">
				<ul class="summer-teachers-lists">	
					<li>
						<div class="teachers-information">
							<div class="fn-left photo">
								<img src="../lib/images/9.9-bg-6-2.png" alt="">
							</div>
							<div class="fn-left information">
								<div class="name">
									马老师
								</div>
								<h4 class="top">上海交通大学·博士</h4>
								<h4>优思教育研究组首席顾问</h4>
							</div>
						</div>
					
						<div class="highlights">
							课程亮点
						</div>
						<h5 class="top">从事高考教育辅导工作10余年</h5>
						<h5>专注于教学式引导学生潜力</h5>

						<div class="highlights">
							教学成果
						</div>
						<h5 class="top">已辅导157名学生考入211/985院校</h5>
						<h5>单科平均辅导提分高达27.81分</h5>
					</li>
					<li>
						<div class="teachers-information">
							<div class="fn-left photo">
								<img src="../lib/images/9.9-bg-6-4.png" alt="">
							</div>
							<div class="fn-left information">
								<div class="name">
									杨老师
								</div>
								<h4 class="top">北京大学·物理学硕士</h4>
								<h4>优思教育物理学科教研组组长</h4>
							</div>
						</div>
					
						<div class="highlights">
							课程亮点
						</div>
						<h5 class="top">丰富的初高中数理化全科教学经验</h5>
						<h5>10余年高中物理带班经验</h5>

						<div class="highlights">
							教学成果
						</div>
						<h5 class="top">已辅导168名学生考入211/985院校</h5>
						<h5>高考物理平均提分36.17分</h5>
					</li>
					<li>
						<div class="teachers-information">
							<div class="fn-left photo">
								<img src="../lib/images/9.9-bg-6-9.png" alt="">
							</div>
							<div class="fn-left information">
								<div class="name">
									高老师
								</div>
								<h4 class="top">华中师范大学·硕士</h4>
								<h4>优思教育化学学科教研组组长</h4>
							</div>
						</div>
					
						<div class="highlights">
							课程亮点
						</div>
						<h5 class="top">拥有多年高考毕业班带班心得，丰富的化学教学经验</h5>
						<h5>曾任职上海某重点高中化学老师</h5>

						<div class="highlights">
							教学成果
						</div>
						<h5 class="top">已辅导100名学生考入211/985院校</h5>
						<h5>单科平均提分28分</h5>
					</li>
					<li>
						<div class="teachers-information">
							<div class="fn-left photo">
								<img src="../lib/images/9.9-bg-6-10.png" alt="">
							</div>
							<div class="fn-left information">
								<div class="name">
									肖老师
								</div>
								<h4 class="top">上海交大+英国诺丁汉大学·硕士</h4>
								<h4>优思教育英语学科教研组组长</h4>
							</div>
						</div>
					
						<div class="highlights">
							课程亮点
						</div>
						<h5 class="top">从事高考辅导教育6年</h5>
						<h5>具有丰富的英语教学经验</h5>

						<div class="highlights">
							教学成果
						</div>
						<h5 class="top">已辅导120名学生考入211/985院校</h5>
						<h5>单科平均提分36.17分</h5>
					</li>
				</ul>			
			</div>
		</div>
	</div>
	<!-- // 上课老师 end -->

	<!-- // 报名方式  start-->
	<div class="entry-mode-box">
		<div class="entry-mode">
			<div class="summer-teachers-erweima fn-left">
				<img src="../lib/images/9.9-erweima.png" alt="">
			</div>
			<div class="entry-mode-inner fn-right">
				<p>1：扫描右方二维码添加“优思网校家长服务”微信咨询，微信号：<span>yousikefu</span>；或拨打优思官方服务热线<span>4000-980-950</span>咨询。</p>
				<p>2：确定报名后，将费用支付至优思官方支付宝账户，或微信直接转账至杨老师。其他付费方式亦可与杨老师直接沟通。</p>
			
				<div class="summer-teachers-zhifubao">
					支付宝账号：zhifubao@yousi.com
				</div>
			</div>
		</div>
	</div>

	<!-- // 报名方式  end-->

	<!-- // 底部立即预约 start-->

	<div class="school_bottom_inner school_bottom_inner_relative">
	    <ul class="school_bottom">
	        <li class="one"><img src="../lib/images/9.9-school-555.png" alt=""></li>
	        <li class="two">
	            <input class="bottom-B" id="fixed_name" type="text" placeholder="输入姓名">
	            <input class="bottom-B" id="fixed_pass" type="text" placeholder="输入手机号">
	            <input class="fixed_bottom-btn" type="button" value="立即预约">
	        </li>
	        <li class="three">
	            提分热线：4000-980-950
	        </li>
	        <p class="fixed_errorMag fn-right"></p>
	    </ul>
	</div>

	<!-- // 底部立即预约 end-->

	<!--  // 预约课程弹框  -->


	<div class="school_mask fn-hide">
	</div>
	<div class="make_an_appointment fn-hide">
	    <span class="iconfont icon-xxx make_an_appointment_close"></span>
	    <ul class="list ">
	        <li>
	            <span class="iconfont icon-name"></span>
	            <input class="make_an_appointment_input" id="make_an_appointment_name" type="text" placeholder="输入姓名" value=''>
	        </li>
	        <li>
	            <span class="iconfont icon-phone10"></span>
	            <input class="make_an_appointment_input" id="make_an_appointment_phone" type="text" placeholder="输入手机号" value=''>
	        </li>
	        <li id="make_an_appointment_li" class="last">
	            立即预约
	        </li>
	        <p class="make_an_appointment_p"></p>
	    </ul>
	    <ul class="make_an_appointment_list fn-hide">
	        <li>
	            <img src="../lib/images/9.9-school-yes.png" alt="">
	        </li>
	        <li >
	            <p>您已预约成功,请注意接听来自上海的手机回访电话</p>
	        </li>
	        <li class="last">知道啦</li>
	    </ul>
	</div>
	<!--  // 预约课程弹框  end-->   
 

</body>
</html>