<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
<title>清北名师在线一对一辅导，涨分秘籍-【优思网校】</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta  name="keywords" content="优思网校，在线辅导，网络家教，在线一对一"/>
<meta name="description" content="优思网校专注中小学在线辅导，是全国领先的网络家教品牌；优思网校主研小升初、中考、高考在线辅导课程，覆盖学科包括数学，英语，语文，文综、理综等科目。" />

<link href="../lib/css/9.9-app.css" rel="stylesheet" type="text/css"/>
<link href="../lib/css/font.css" rel="stylesheet" type="text/css"/>
<link href="../lib/css/swiper-3.3.1.min.css" rel="stylesheet" type="text/css"/>
<link href="../lib/css/font.css" rel="stylesheet" type="text/css"/>
<script src='http://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js'></script>
<script src='../lib/js/idangerous.swiper-2.0.min.js'></script>
</head>

<body class='ex3-body'>
<div class="body-main">
    

<a name="ex4Formone"></a>
<!-- <img src="__SINGLE__/images/"  alt="预约在线课程" class='fn-hide'> -->
<!-- //top -->

<!-- //top end -->

<!-- //banner -->
<div class="main ex2-banner ex3-banner ex4-banner border-box m0a fn-clear">
    <div class="fn-left app99-logo">
        <img src="../lib/images/9.9app-logo.png" alt="">
    </div>
    <a href="tel:4000939775" class="fn-right app99-phone">
        <i class="iconfont icon-fontphone"></i> <span>4000 980 950</span>
    </a>
    <img src="../lib/images/9.9app-1.jpg"  alt="">
</div>
<!-- //banner end -->

<!-- //banner -->
<div class="main ex2-banner ex3-banner ex4-banner border-box m0a fn-clear">
    <img src="../lib/images/9.9app-2.jpg"  alt="">
</div>
<!-- //banner end -->

<!-- //banner -->
<div class="main ex2-banner  border-box m0a fn-clear ">
   <!--  <ul class="banner-1-ullist">
       <li class="first ">
           <div class="yuan bg1">
               <h4>1人报名</h4>          
               <div class="position-icon">
                   <img src="../lib/images/9.9-icon-1.png" alt="">
               </div>
           </div> 
           <p>9.9元/课时</p>   
       </li>
   
       <li>
           <div class="yuan bg2">
               <h4>2人报名</h4>
              
               <div class="position-icon">
                   <img src="../lib/images/9.9-icon-2.png" alt="">
               </div>
           </div>
           <p>8.8元/课时</p> 
       </li>
   
       <li>
           <div class="yuan bg3">
               <h4>3人报名</h4>
               <div class="position-icon">
                   <img src="../lib/images/9.9-icon-3.png" alt="">
               </div>
           </div>
           <p>8.8元/课时</p> 
       </li>
   </ul> -->

   <img src="../lib/images/9.9app-71.jpg"  alt="">
</div>
<!-- //banner end -->
<!-- //banner -->
<div class="main ex2-banner  border-box m0a fn-clear fn-clear">
    <img src="../lib/images/9.9-app-45.jpg"  alt="">
</div>
<!-- //banner end -->
<div class="main ex2-banner  border-box m0a fn-clear app-background2-bg">
   <p>
       <span>优思</span> 采用自主研发的在线授课系统，可读取PPT、分享习题、答题卡互动、录制课程、家长监课等，全国已经有超过50家机构使用我们的授课系统提供网络授课服务。所以家长们大可不必担心在线授课效果不佳，更不用担心孩子一个人在外上课的安全性，绝对又好用又省时哦！
   </p>
</div>

<div class="main ex2-banner ex3-banner ex4-banner border-box m0a fn-clear bg-72">
    <img src="../lib/images/9.9app-72.png"  alt="">
</div>

<div class="main ex2-banner ex3-banner ex4-banner border-box m0a fn-clear app-background2-bg">
     <p>上课时间：7月25日至8月19日；课程长度：24课时，45分钟/课时</p>
     <p>上课频率：每周3次课，共12次课，每次2课时，共24课时</p>
</div>

<!-- //banner -->
<div class="main ex2-banner ex3-banner ex4-banner border-box app-background2-bg">
   <ul class="banner-4-ultitle">
        <li class="index first">
            <img data-img=0 src="../lib/images/9.9app-200.png" alt="">
        </li>
        <li class="index first">
            <img data-img=1 src="../lib/images/9.9app-101.png" alt="">
        </li>
        <li class="index first">
            <img data-img=2 src="../lib/images/9.9app-102.png" alt="">
        </li>
        <li class="index first">
            <img data-img=3 src="../lib/images/9.9app-103.png" alt="">
        </li>
        <li class="index first">
            <img data-img=4 src="../lib/images/9.9app-104.png" alt="">
        </li>
        <li class="index first">
            <img data-img=5 src="../lib/images/9.9app-105.png" alt="">
        </li>
    </ul>

    <div class="app-title">
         <ul class="app-uls-list app-uls-title">
            <li class="first"></li>
            <li class="time">时间</li>
            <li>周一</li>
            <li>周二</li>
            <li>周三</li>
            <li>周四</li>
            <li>周五</li>
            <li>周六</li>
        </ul>
        <ul class="app-uls-list app-dian math">
            <li class="first">数学</li>
            <li class="time"></li>
            <li><img src="../lib/images/9.9app-dian.png" alt=""></li>
            <li></li>
            <li><img src="../lib/images/9.9app-dian.png" alt=""></li>
            <li></li>
            <li><img src="../lib/images/9.9app-dian.png" alt=""></li>
            <li></li>
        </ul>

    </div>
</div>
<!-- //banner end -->

<!-- <div class="main ex2-banner   border-box m0a fn-clear app-background2-bg app-list-kemu">
    <img src="../lib/images/9.9-app-60.png"  alt="">
</div> -->
<div class="main ex2-banner   border-box m0a fn-clear bg-61">
    <img src="../lib/images/9.9app-69.png"  alt="">
</div>

<div class="main ex2-banner border-box m0a fn-clear app-background2-bg ">
    <div class="app-teachers-box-list">
        <div class="pagination"></div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="app-teachers-box">
                        <div class="app-position-title">
                            <img src="../lib/images/9.9app-top-1.png" alt="">
                        </div>
                        <div class="app-position-box">
                            <div class="title">
                                <div class="fn-left photo">                    
                                    <img src="../lib/images/9.9app-photo1.jpg" alt="">
                                </div>
                                <div class="fn-left name">
                                    <div class="name-gb">
                                        马老师
                                    </div>
                                    <h4 class="top">上海交通大学·博士</h4>
                                    <h4>优思教育研究组首席顾问</h4>
                                </div>
                            </div>
                            <div class="app-course-highlights">课程亮点</div>
                            <h5>从事高考教育辅导工作10余年</h5>
                            <h5>专注于引导式教学,善于发掘学生潜力</h5>
                            <div class="app-course-highlights">教学成果</div>
                            <h5>已辅导157名学生考入211/985院校</h5>
                            <h5>单科平均辅导提分高达27.81分</h5>                    
                        </div>
                    </div>                    
                </div>
                 <div class="swiper-slide">
                    <div class="app-teachers-box">
                        <div class="app-position-title">
                            <img src="../lib/images/9.9app-top-1.png" alt="">
                        </div>
                        <div class="app-position-box">
                            <div class="title">
                                <div class="fn-left photo">                    
                                    <img src="../lib/images/9.9-bg-6-9.png" alt="">
                                </div>
                                <div class="fn-left name">
                                    <div class="name-gb">
                                        高老师
                                    </div>
                                    <h4 class="top">华中师范大学·硕士</h4>
                                    <h4>优思教育化学学科教研组组长</h4>
                                </div>
                            </div>
                            <div class="app-course-highlights">课程亮点</div>
                            <h5>拥有多年高考毕业班带班心得和教学经验</h5>
                            <h5>曾任职上海某重点高中化学老师</h5>
                            <div class="app-course-highlights">教学成果</div>
                            <h5>已辅导100名学生考入211/985院校</h5>
                            <h5>单科平均提分28分</h5>                    
                        </div>
                    </div>                    
                </div>
                <div class="swiper-slide">
                    <div class="app-teachers-box">
                        <div class="app-position-title">
                            <img src="../lib/images/9.9app-top-1.png" alt="">
                        </div>
                        <div class="app-position-box">
                            <div class="title">
                                <div class="fn-left photo">                    
                                    <img src="../lib/images/9.9-bg-6-4.png" alt="">
                                </div>
                                <div class="fn-left name">
                                    <div class="name-gb">
                                        杨老师
                                    </div>
                                    <h4 class="top">清华大学 · 物理学硕士</h4>
                                    <h4>优思教育物理学科教研组组长</h4>
                                </div>
                            </div>
                            <div class="app-course-highlights">课程亮点</div>
                            <h5>丰富的初高中数理化全科教学经验</h5>
                            <h5>10余年高中物理带班经验</h5>
                            <div class="app-course-highlights">教学成果</div>
                            <h5>已辅导168名学生考入211/985院校</h5>
                            <h5>高考物理平均提分36.17分</h5>                    
                        </div>
                    </div>                     
                </div>
                <div class="swiper-slide">
                    <div class="app-teachers-box">
                        <div class="app-position-title">
                            <img src="../lib/images/9.9app-top-1.png" alt="">
                        </div>
                        <div class="app-position-box">
                            <div class="title">
                                <div class="fn-left photo">                    
                                    <img src="../lib/images/9.9-bg-6-10.png" alt="">
                                </div>
                                <div class="fn-left name">
                                    <div class="name-gb">
                                        肖老师
                                    </div>
                                    <h4 class="top">上海交大+英国诺丁汉大学·硕士</h4>
                                    <h4>优思教育英语学科教研组组长</h4>
                                </div>
                            </div>
                            <div class="app-course-highlights">课程亮点</div>
                            <h5>从事高考辅导教育6年</h5>
                            <h5>具有丰富的英语教学经验</h5>
                            <div class="app-course-highlights">教学成果</div>
                            <h5>已辅导120名学生考入211/985院校</h5>
                            <h5>单科平均提分36.17分</h5>                    
                        </div>
                    </div>                     
                </div>                
          </div>
        </div> 
    </div>

</div>
<div class="main ex2-banner border-box m0a fn-clear  app-99-img">
    <img src="../lib/images/9.9app-66.png" alt="">
</div>

<div class="main ex2-banner border-box m0a fn-clear app-background3-bg ">
    <p>1:扫描上方二维码添加“优思家教杨老师”微信咨询，微信号：<span>yousikefu</span>；或拨打优思官方服务热线
        <a href="tel:4000939775">4000-939-775</a></span></p>
    <p>2:确定报名后，将费用支付至优思官方支付宝账户，或微信直接转账至杨老师。其他付费方式亦可与杨老师直接沟通</p>
    <div class="app-zhifubao">
        支付宝账号：zhifubao@yousi.com
    </div>
</div>
<!-- //form -->
 <a name="ex4Form"></a>
<div class="ex3-form1 main border-box m0a fn-clear">
    <h5>报名信息</h5>
    <input type="text" name='name' placeholder='请输入姓名'>
    <input type="text" name='phone' placeholder='请输入手机号码'>
    <p class='errorMsg'></p>
    <div class="btn-bg extension3FormSubmit m0a fn-clear">
        立即报名
    </div>
</div>
<!-- //form end -->
    <!--// 电脑版 start -->
<div class="single-box main">
    <div class="single-box-xian"></div>
    <div class="single-box-inner">
        <span class="shu">|</span>
        <div class="fn-left left">
            <a href="javascript:void(0)">电脑版</a>
        </div>
        <div class="fn-right right">
            <a class="single-box-btn"  href="#ex4Formone"> <span class="iconfont icon-top"></span> Top</a>
        </div>
    </div>
    <div class="single-box-bottom">
        优思网校 Copyright 2015-2016 优思教育版权所有(沪|CP备14041652号-1)
    </div>
</div>

    <!--// 电脑版 end -->
<!--footer-->
    <div class="main ex9-footer">
        <a href="tel:4000939775" class="fn-left ex9-footer-left">
            <i class="icon-fontphone iconfont"></i>
            <span>电话咨询</span>
        </a>
        <a href="#ex4Form" class="fn-left ex9-footer-right">
            <i class="iconfont icon-dianhuayuyue"></i>
            <span>在线预约</span>
        </a>
    </div>
<!-- footer end -->


  <!-- //表单提交 -->
<script>
    var mySwiper = new Swiper('.swiper-container',{
        autoplay : 5000,
        loop : true,
        pagination : '.pagination',
    })

    $(".extension3FormSubmit").click(function(){
        var self = $(this),
            name = $("input[name='name']").val(),
            mobile = $("input[name='phone']").val(),
            error = $(".errorMsg");
        if (self.hasClass('disable'))
            return;
        $.ajax({
            type: 'POST',
            url: '/index.php/home/bespeak/release',
            data: {
                mobile: mobile,
                nickname: name
            },
            dataType: "json",
            beforeSend: function () {
                if (!mobile) {
                    error.text('请填写手机号码').removeClass('green');
                    return false;
                }
                if (!(/^1\d{10}$/.test(mobile))) {
                    error.text('请输入正确手机号码').removeClass('green');
                    return false;
                }
                if (!name) {
                   error.text('请输入姓名').removeClass('green');
                    return false;
                }
                self.addClass('disable');
            },
            success: function (data) {

                if (data.code == '200') {
                    $("#fixed_name").val("");
                    $("#fixed_pass").val("");
                   error.text(data.desc).addClass('green');
                } else {
                    error.text(data.desc)
                }
                self.removeClass('disable');
            },
            error: function (data) {
                 error.text("网络连接错误，请稍后重试").removeClass('green');
            }
        });     
    });




    var btn = $(".banner-4-ultitle img"),
        btnLen = $(".banner-4-ultitle img").length;


        for(var j = 0; j<btnLen; j++){
            btn[j].addEventListener("touchstart",function(){
                for(var n = 0; n<j; n++){
                    $(btn[n]).attr("src","../lib/images/9.9app-10"+n+".png");
                }
                var num  = $(this).attr("data-img");
                $(this).attr("src","../lib/images/9.9app-20"+num+".png");
                $(".app-title").html(subject(num));      
            })
        }



        
    function subject(num){

        if(num == 0){
            var _html = '';
                _html += '<ul class="app-uls-list app-uls-title">';
                _html += '<li class="first"></li>';
                _html += '<li class="time">时间</li>';
                _html += '<li>周一</li>';
                _html += '<li>周二</li>';
                _html += '<li>周三</li>';
                _html += '<li>周四</li>';
                _html += '<li>周五</li>';
                _html += '<li>周六</li>';
                _html += '</ul>';
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">数学</li>';
                _html += '<li class="time">16:00-17:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';
        }

        if(num == 1){
            var _html = '';
                _html += '<ul class="app-uls-list app-uls-title">';
                _html += '<li class="first"></li>';
                _html += '<li class="time">时间</li>';
                _html += '<li>周一</li>';
                _html += '<li>周二</li>';
                _html += '<li>周三</li>';
                _html += '<li>周四</li>';
                _html += '<li>周五</li>';
                _html += '<li>周六</li>';
                _html += '</ul>';
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">数学</li>';
                _html += '<li class="time">16:00-19:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';
                _html += '<ul class="app-uls-list app-dian physics">';
                _html += '<li class="first">物理</li>';
                _html += '<li class="time">18:00-19:30</li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '</ul>';
        }

        if(num == 2){
            var _html = '';
                _html += '<ul class="app-uls-list app-uls-title">';
                _html += '<li class="first"></li>';
                _html += '<li class="time">时间</li>';
                _html += '<li>周一</li>';
                _html += '<li>周二</li>';
                _html += '<li>周三</li>';
                _html += '<li>周四</li>';
                _html += '<li>周五</li>';
                _html += '<li>周六</li>';
                _html += '</ul>';
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">化学</li>';
                _html += '<li class="time">14:00-15:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';  
                _html += '<ul class="app-uls-list app-dian physics">';
                _html += '<li class="first">物理</li>';
                _html += '<li class="time">16:00-17:30</li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '</ul>';                               
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">数学</li>';
                _html += '<li class="time">20:00-21:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';
           
        }

        if(num == 3){
            var _html = '';
                _html += '<ul class="app-uls-list app-uls-title">';
                _html += '<li class="first"></li>';
                _html += '<li class="time">时间</li>';
                _html += '<li>周一</li>';
                _html += '<li>周二</li>';
                _html += '<li>周三</li>';
                _html += '<li>周四</li>';
                _html += '<li>周五</li>';
                _html += '<li>周六</li>';
                _html += '</ul>';
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">物理</li>';
                _html += '<li class="time">14:00-15:30</li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '</ul>';  
                _html += '<ul class="app-uls-list app-dian physics">';
                _html += '<li class="first">数学</li>';
                _html += '<li class="time">18:00-19:30</li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '</ul>';                               
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">化学</li>';
                _html += '<li class="time">18:00-19:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';
           
        }

        if(num == 4){
            var _html = '';
                _html += '<ul class="app-uls-list app-uls-title">';
                _html += '<li class="first"></li>';
                _html += '<li class="time">时间</li>';
                _html += '<li>周一</li>';
                _html += '<li>周二</li>';
                _html += '<li>周三</li>';
                _html += '<li>周四</li>';
                _html += '<li>周五</li>';
                _html += '<li>周六</li>';
                _html += '</ul>';
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">化学</li>';
                _html += '<li class="time">14:00-15:30</li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '</ul>';  
                _html += '<ul class="app-uls-list app-dian physics">';
                _html += '<li class="first">物理</li>';
                _html += '<li class="time">18:00-19:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';                               
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">数学</li>';
                _html += '<li class="time">20:00-21:30</li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '</ul>';
           
        }

        if(num == 5){
            var _html = '';
                _html += '<ul class="app-uls-list app-uls-title">';
                _html += '<li class="first"></li>';
                _html += '<li class="time">时间</li>';
                _html += '<li>周一</li>';
                _html += '<li>周二</li>';
                _html += '<li>周三</li>';
                _html += '<li>周四</li>';
                _html += '<li>周五</li>';
                _html += '<li>周六</li>';
                _html += '</ul>';
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">物理</li>';
                _html += '<li class="time">14:00-15:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';  
                _html += '<ul class="app-uls-list app-dian physics">';
                _html += '<li class="first">化学</li>';
                _html += '<li class="time">16:00-17:30</li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '</ul>';                               
                _html += '<ul class="app-uls-list app-dian chemistry">';
                _html += '<li class="first">数学</li>';
                _html += '<li class="time">20:00-21:30</li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '<li><img src="../lib/images/9.9app-dian.png" alt=""></li>';
                _html += '<li></li>';
                _html += '</ul>';
           
        }
        return _html;


    }



</script>

<style type="text/css">

</style>
<!-- //表单提交 end -->
</div>
</body>
</html>  