<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">	
	<title>Document</title>
	<link rel="stylesheet" href="../lib/css/jiajiao-zhuce.scss">
</head>
<body>
	
	<!--// 注册 start -->
	<div class="jiajiao-register-box">
		<div class="jiajiao-logo">
			<img src="../lib/images/jiajiao-logo.png" alt="">
		</div>
		<ul class="jiajiao-list">
			<li>
				<div class="fn-left left-title">
					请输入用户名:
				</div>
				<div class="fn-right right-input">
					<input type="text">
				</div>
			</li>
			<li>
				<div class="fn-left left-title">
					请输入密&nbsp;&nbsp;&nbsp;码:
				</div>
				<div class="fn-right right-input">
					<input type="text">
				</div>
			</li>
			<li>
				<div class="fn-left left-title">
					请输入图形验证码 :
				</div>
				<div class="fn-right right-input">
					<input type="text">
				</div>
			</li>
			<li class="img-code-box">
				<div class="fn-right right-input">
					<img src="../lib/images/jiajiao-logo.png" alt="">
					<span class="fn-right">看不清换一张</span>
				</div>
			</li>
			<li>
				<div class="fn-left left-title">
					请输入短信验证码 :
				</div>
				<div class="fn-right right-input">
					<input type="text">
				</div>
			</li>
			<li class="jiajiao-btn-register">
				立即注册
			</li>
			<p class="fn-right errormag">sdasdas</p>
		</ul>
	</div>	
	<!--// 注册 end -->

</body>
</html>